<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['총괄본부','경정훈련원'],
                    subTitle: '선수로드맵',
                    subText: '경정과 함께<br><b>희망찬 미래</b>를 설계하세요!',
                    url: "../../",
                    visualClass: "bg06",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">경정 선수는 엄청난 체력과 기술, 그리고 강한 정신력을 필요로 하는 매력적인 직업입니다.</h2>
                        <p class="info">
                            스피드 대 스피드! 작전 대 작전! 체력, 두뇌! 오직 하나의 목표를 향하여 젊음과 투혼을 불사르는 진정한 프로의 세계! 경정과 함께 희망찬 미래를 설계하십시오! 여러분의 꿈을 실현할 수 있는 경정선수가 되는 길을 안내합니다.
                        </p>
                    </div>

                    <div class="comTitH2 mgH60">
                        <h2>경정선수 로드맵</h2>
                    </div>

                    <div class="cptRoadMap">
                        <div class="list step1">
                            <div class="icBox icon1">
                                <p class="txt">Step</p>
                                <p class="num">1</p>
                            </div>
                            <div class="txtBox"> 
                                <h2>원서접수 교부 및 접수</h2>
                                <div class="comTitH3 mgH20">
                                    <h3>응시자격</h3>
                                </div>
                                <div class="comBasicList space">
                                    <ul class="listGroup">
                                        <li class="item">대한민국 국민으로 만18세 이상 30세 미만의 남,녀</li>
                                        <li class="item">청력, 혈압이 정상인 자</li>
                                        <li class="item">경주에 지장을 초래할 정도의 질환이 없는 자</li>
                                        <li class="item">타인에게 혐오감을 줄 정도의 문신이나 상처 등이 없는 자</li>
                                        <li class="item">정신이상, 간질 기타 신경장애가 없는 자</li>
                                        <li class="item">경륜경정법 제7조 제1항에 의한 결격사유가 없는 자</li>
                                    </ul>
                                </div>
                                <div class="comTitH3">
                                    <h3>신체조건</h3>
                                </div>
                                <div class="comBasicList space">
                                    <ul class="listGroup">
                                        <li class="item">신장 : 175cm 이하</li>
                                        <li class="item">체중 : 68kg 이하</li>
                                        <li class="item">양안의 나안시력이 0.8 이상으로 색맹이 아닌 자</li>
                                        <li class="item">종합병원발행 채용 신체검사서상 이상이 없는 자</li>
                                    </ul>
                                </div>
                                <div class="comTitH3">
                                    <h3>제출서류</h3>
                                </div>
                                <div class="comBasicTxt space">
                                    <p class="txt">응시원서, 이력서, 3x4cm 칼라사진, 최종학교 졸업증명서, 종합병원발행 채용신체검사서, 면허증 및 자격증 사본, 주민등록 등·초본, 고등학교생활기록부(중졸자는 중학교생활기록부)</p>
                                </div>
                                <div class="comTitH3">
                                    <h3>접수 방법</h3>
                                </div>
                                <div class="comBasicList space">
                                    <ul class="listGroup">
                                        <li class="item">응시원서 교부 : 경정홈페이지(www.kboat.or.kr)에서 다운로드</li>
                                        <li class="item">우편접수(마감일 도착분에 한함) 및 방문접수</li>
                                        <li class="item">주소 : 인천시 중구 영종해안남로 19-122 경정훈련원</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="list step2">
                            <div class="icBox icon2">
                                <p class="txt">Step</p>
                                <p class="num">2</p>
                            </div>
                            <div class="txtBox"> 
                                <h2>서류전형</h2>
                                <div class="comTitH3 mgH20">
                                    <h3>제출 서류 확인</h3>
                                </div>
                                <div class="comBasicTxt space">
                                    <p class="txt">서류 전형을 통해 시험 응시 자격을 결정합니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="list step3">
                            <div class="icBox icon3">
                                <p class="txt">Step</p>
                                <p class="num">3</p>
                            </div>
                            <div class="txtBox"> 
                                <h2>필기시험 및 인성검사</h2>
                                <div class="comTitH3 mgH20">
                                    <h3>필기시험</h3>
                                </div>
                                <div class="comBasicTxt space">
                                    <p class="txt">일반상식을 기준으로 필기시험을 치룹니다.</p>
                                </div>
                                <div class="comTitH3">
                                    <h3>인적성검사</h3>
                                </div>
                                <div class="comBasicTxt space">
                                    <p class="txt">우수한 인재 선발을 위해 인적성검사를 진행합니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="list step4">
                            <div class="icBox icon4">
                                <p class="txt">Step</p>
                                <p class="num">4</p>
                            </div>
                            <div class="txtBox"> 
                                <h2>신체검사 및 기초체력 측정</h2>
                                <div class="comTitH3 mgH20">
                                    <h3>시험과목</h3>
                                </div>
                                <div class="comContTable">
                                    <table>
                                        <caption>시험과목 표 : 과목, 시험내용 항목을 포함한 표</caption>
                                        <colgroup>
                                            <col style="width:31%">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>과목</th>
                                                <th>시험내용</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>신체검사</td>
                                                <td>신장, 체중, 시력, 청력, 심전도, 혈압, 운동부하검사</td>                                                
                                            </tr>
                                            <tr>
                                                <td>기초체력 측정</td>
                                                <td>악력, 윗몸일으키기, 팔굽혀펴기, 전신반응, 좌전굴, 제자리 높이뛰기, 각근력, 스텝테스트</td>                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="comAddGuide"> 
                                    <p class="guide">응시자격, 신체조건 및 시험과목은 필요에 따라 변경 될 수 있음</p>
                                </div>
                            </div>
                        </div>
                        <div class="list step5">
                            <div class="icBox icon5">
                                <p class="txt">Step</p>
                                <p class="num">5</p>
                            </div>
                            <div class="txtBox"> 
                                <h2>면접시험</h2>
                                <div class="comTitH3 mgH20">
                                    <h3>대면 면접</h3>
                                </div>
                                <div class="comBasicTxt space">
                                    <p class="txt"> 면접을 통해 경정선수로서의 적합성 여부를 체크합니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="list step6">
                            <div class="icBox icon6">
                                <p class="txt">Step</p>
                                <p class="num">6</p>
                            </div>
                            <div class="txtBox"> 
                                <h2>최종합격자 발표</h2>
                                <div class="comTitH3 mgH20">
                                    <h3>면접시험 후 최종합격자 발표</h3>
                                </div>
                                <div class="comBasicTxt space">
                                    <p class="txt">위 과정을 통과 후 최종합격자가 되면 선수 계약을 체결합니다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정훈련원',
                    name: '이병노',
                    phone: '032-742-1304',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>