<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['총괄본부','경정훈련원'],
                    subTitle: '경정훈련원 소개',
                    subText: '대한민국 <b>경정선수 육성의 요람</b>,<br />경정 훈련원을 소개합니다.',
                    url: "../../",
                    visualClass: "bg06",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">우수한 경정선수를 양성, 배출하는 경정훈련원</h2>
                        <p class="info">선수후보생을 선발하여 소정의 기간동안 모터보트 조종 및 정비실기, 기초체력, 직업윤리, 기초교양 등 종합교육을 실시합니다.</p>
                    </div>
                    
                    <div class="cptContSpeedom">
                        <div class="contArea">
                            <div class="list">
                                <div class="img"><img src="../../images/contents/cont28_05_01_img1.jpg" alt="경정훈련원"></div>
                                <div class="cont verDiv">
                                    <div class="comTitH2 mRow">
                                        <h2>경정훈련원</h2>
                                    </div>
                                    <div class="infoTxt">
                                        <dl>
                                            <dt>연혁</dt>
                                            <dd>
                                                1999년 04월 25일 : 경정사업시행 및 경주장 설치허가 <br />
                                                2000년 11월 06일 : 경정훈련원 개원(미사리 조정경기장) <br />
                                                2004년 07월 01일 : 경정훈련원 이전(충남 보령) <br />
                                                2011년 4월 22일 : 경정훈련원 이전 개원(인천 영종도)
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>위치</dt>
                                            <dd>
                                                인천시 중구 영종해안남로 19-122
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수상훈련장</dt>
                                            <dd>
                                                400,000㎡/121,000평
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>업무시설 및<span class="blk"></span>생활관</dt>
                                            <dd>
                                                훈련관(사무실 및 강의실) : 2,789.89㎡ (845평) <br />
                                                생활관(숙소/휴게실/체력단련실/식당) : 6,435.73㎡ (1,950평) <br />
                                                정비관(조정실습실 및 모터정비실 등) : 3,965㎡ (1,202평) <br />
                                                주차장 : 3,704.69㎡ (1,126평)
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>부대시설</dt>
                                            <dd>
                                                녹지시설 : 17,874.58㎡ <br />
                                                운동장 : 4,318.50㎡ <br />
                                                배드민턴장 : 244.80㎡ <br />
                                                족구장 : 235.50㎡ <br />
                                                단지내도로면적 : 8,413.88㎡ <br />
                                                외부진입도로면적 : 3,487㎡
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="comTitH2 mgH80">
                        <h2>학과교육장</h2>
                    </div> 
                    <div class="cptFacInfo mgH32">
                        <div class="halfCont">
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img2.jpg" alt="대강의실">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>대강의실</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                321.3㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>시설</dt>
                                            <dd>
                                                시청각시설 완비 (A/V System 1식)
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                                100명
                                            </dd>
                                        </dl>                                    
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                입학,졸업식 및 각종 워크샵 세미나 활용 시 선수 베드민턴장 등 다목적 활용
                                            </dd>
                                        </dl>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img3.jpg" alt="2층 중강의실">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>2층 중강의실</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                171.1㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>시설</dt>
                                            <dd>
                                                시청각시설 완비 (A/V System 1식)
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                                60명
                                            </dd>
                                        </dl>                                    
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                초청교육 및 각종 워크샵 세미나실 활용
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img4.jpg" alt="2층 다목적강의실">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>2층 다목적강의실</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                196.9.1㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>시설</dt>
                                            <dd>
                                                시청각시설 완비 (A/V System 1식)
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                                70명
                                            </dd>
                                        </dl>                                    
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                경주규칙, 초청교육 및 각종 워크샵 세미나실
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img5.jpg" alt="체력단련실 및 체력측정실">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>체력단련실 및 체력측정실</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                467.2㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>시설</dt>
                                            <dd>
                                                런닝머신 증 40종
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                                40명
                                            </dd>
                                        </dl>                                    
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                지구력, 스피드 파워 보강을 위한 근력강화
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img6.jpg" alt="학과강의실">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>학과강의실</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                97.1㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>시설</dt>
                                            <dd>
                                                시청각시설 완비 (A/V System 1식)
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                                30명
                                            </dd>
                                        </dl>                                    
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                선수 및 후보생 경정교육
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img7.jpg" alt="조종실습실">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>조종실습실</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                133.3㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>시설</dt>
                                            <dd>
                                                실물과 동일한 모터, 보트, 대형거울 등
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                                40명
                                            </dd>
                                        </dl>                                    
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                경정선수, 후보생 자세교정 및 연습
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img8.jpg" alt="정비실습실">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>정비실습실</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                961.5㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>장비</dt>
                                            <dd>
                                                엔진 및 모터 분해 정비 테이블 10대
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                               20명
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img9.jpg" alt="모터세척실">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>모터세척실</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                107.4㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>장비</dt>
                                            <dd>
                                                모터 분해 기름 세척기 6개소
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                               20명
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                모터 부분 분해 오일 세척 실습장
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img10.jpg" alt="보트보관실">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>보트보관실</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                623.3㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>장비</dt>
                                            <dd>
                                                단보트거치대 40대, 2단 보트 거치대 30대, 모터 4개 거치대 40대, 8개 거치대 10개
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                               40명
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                모터, 보트 보관 및 정비 장소로 사용
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img11.jpg" alt="경정훈련수면(1,2,3수면) ">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>경정훈련수면(1,2,3수면) </dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                400,000㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>장비</dt>
                                            <dd>
                                                수상구조물, 리프트, 출발비트(2개소), 신호등
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                경정선수 및 후보생 수상훈련장
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img12.jpg" alt="출발비트 (선수비트, 후보생비트)">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>출발비트 (선수비트, 후보생비트)</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                선수 227㎡, 후보생 243㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>장비</dt>
                                            <dd>
                                                출발신호등 및 계류기
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                                40명
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                경주정 수상훈련 스타트 장소
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img13.jpg" alt="수상훈련 심판탑 ">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>수상훈련 심판탑 </dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                중앙 515.08㎡, 1코너 27.65㎡, 2코너27.65㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>장비</dt>
                                            <dd>
                                                정밀 심판측정 장비 일체
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                                30명
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                공정한 경주를 위한 스타트 및 신호 송출
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img14.jpg" alt="영상분석실">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>영상분석실</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                50.8㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>시설</dt>
                                            <dd>
                                                시청각시설 완비 (A/V System 1식)
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                                20명
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                선수 및 후보생 경주, 훈련장면 영상분석
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img15.jpg" alt="의무실">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>의무실</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                51.5㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>장비</dt>
                                            <dd>
                                                산소호흡기, 제세 동기, 들것, 물리 치료기 등
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                                4명
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                응급환자 응급조치 및 후송
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list">
                                <div class="img">
                                    <img src="../../images/contents/cont28_05_01_img16.jpg" alt="축구장">
                                </div>
                                <div class="cont">
                                    <div class="rowA">
                                        <dl>
                                            <dt>축구장</dt>
                                        </dl>
                                    </div>
                                    <div class="rowB">
                                        <dl>
                                            <dt>면적</dt>
                                            <dd>
                                                8,414.2㎡
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>장비</dt>
                                            <dd>
                                                스프링클러 시설 일체
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>수용인원</dt>
                                            <dd>
                                                60명
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>용도</dt>
                                            <dd>
                                                축구단 및 경정 선수, 후보생 체력훈련
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comTitH2 mgH60">
                        <h2>부대시설</h2>
                    </div> 
                    <div class="comBasicList space">
                        <ul class="listGroup">
                            <li class="item"><em>훈련관</em> : 대강의실, 중강의실, 다목적강의실, 회의실, 노래방, 당구장, 탁구장, 분임토의실, 강사대기실</li>
                            <li class="item"><em>생활관</em> : 생활관 A동(31실, 122명 수용), 생활관B동(61실, 122명 수용), 샤워장(사우나시설)1, 체력단련장, 체력측정실, 식당, 기계실, 방재실</li>
                            <li class="item"><em>정비 1관</em> : 건조실, 독서실, 조종실습실, 실습강의실, 선수대기실, 후보생대기실, 의무실, 복장검사실, 샤워장1(남,여)</li>
                            <li class="item"><em>정비 2관</em> : 모터세척실, 정비실습실, 보트보관실, 목공실, 펠라가공실, 보트정비실</li>
                            <li class="item"><em>심판동</em> : 중앙심판탑, 제1코너 심판탑, 제2코너 심판탑</li>
                        </ul>
                    </div>
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정훈련원',
                    name: '김민정',
                    phone: '032-742-1303',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>