<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['총괄본부','미사경정공원'],
                    subTitle: '오시는 길',
                    subText: '<b>다양한 방법으로 미사경정공원까지</b><br />오시는 길을 알려드릴게요.',
                    url: "../../",
                    visualClass: "bg06",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="cptLocation">
                        <div class="comTitH2">
                            <h2>미사경정공원 위치</h2>
                        </div>
                        <div class="kkoMap">
                            <!-- 카카오맵 -->
                            <div id="daumRoughmapContainer1733303264135" class="root_daum_roughmap root_daum_roughmap_landing" style="width: 100%;"></div>
                            <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
                            <script charset="UTF-8">
                                new daum.roughmap.Lander({
                                    "timestamp" : "1733303264135",
                                    "key" : "2mf4f",
                                    "mapWidth" : "100%",
                                    "mapHeight" : "500"
                                }).render();
                            </script>
                        </div>
                        <div class="comBasicTxt">
                            <p class="txt">
                                경기도 하남시 미사대로 505(신장동)
                            </p>
                        </div>
                    </div>
                    
                    <div class="modTab mView_mgH40">
                        <div class="tabMenuGroup tabSwiper toMob">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="자가용 이용 · 주차안내">자가용 이용 · 주차안내</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="대중교통 이용안내">대중교통 이용안내</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button class="prev">이전</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button class="next">다음</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <!-- 자가용 이용 · 주차안내 -->
                            <div class="tabCont on">
                                <div class="comTitH2">
                                    <h2>자가용 이용</h2>
                                </div>
                                <div class="comTitH3">
                                    <h3>성남 및 분당지역 수도권 제1순환고속도로 이용</h3>
                                </div>
                                <div class="comBasicTxt space">
                                    <p class="txt">
                                        성남대로에서 수도권제1순환선 구리, 상일 방면으로 진입 -> 상일IC에서 천호대교, 하남 방면으로 오른쪽 고속도로 출구 진입 -> 상일 IC에서 하남 방면으로 오른쪽 방향 -> 진등지하차도에서 ‘미사역’ 방면으로 왼쪽 지하차도 진입
                                    </p>
                                </div>
                                <div class="comTitH3">
                                    <h3>강북 방면 세종포천고속도로(구리-포천) 이용</h3>
                                </div>
                                <div class="comBasicTxt space">
                                    <p class="txt">
                                        월드컵북로 방면 -> 성산2교에서 연희IC 방면으로 좌회전 -> 수내역, 내부순환로 방면으로 고가차도 오른쪽 옆길 -> 연희교차로에서 ‘내부순환로’ 방면으로 오른쪽 고가차도 진입, 도시고속도로 진입 -> 하월곡분기점교차로에서 ‘북부간선도로(구리·월릉IC)’ 방면으로 오른쪽 방향 -> 중랑IC에서 남구리IC 방면 오른쪽 고속도로 진입 -> 남구리IC에서 서울, 강변북로 방면으로 오른쪽 고속도로 출구 -> 아천 IC에서 구리암사대교, 올림픽대교 방면 -> 암사IC에서 강일IC 방면 -> 강일IC에서 서울·양양고속도로, 춘천, 덕소삼패 방면으로 고속도로 진입 -> 미사경정공원, 미사강변도시 방면으로 지하차도 오른쪽 옆길 -> 미사사거리에서 미사경정공원(후문) 방면으로 좌회전
                                    </p>
                                </div>
                                <div class="comTitH3">
                                    <h3>강남 방면</h3>
                                </div>
                                <div class="comBasicTxt space">
                                    <p class="txt">
                                        올림픽대로 방면으로 도시고속도로 진입 -> 강일IC에서 서울·양양고속도로, 춘천, 덕소삼패 방면으로 고속도로 진입 -> 미사교차로에서 팔당대교, 하남시청, 양평 방면으로 오른쪽 고속도로 출구 -> 미사경정공원, 미사강변도시 방면으로 지하차도 오른쪽 옆길 ->  미사사거리에서 미사경정공원(후문) 방면으로 좌회전
                                    </p>
                                </div>                                
                                <div class="cptLocation">
                                    <div class="comTitH2">
                                        <h2>주차안내</h2>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>주차대수 및 주차요금</h3>
                                    </div>
                                    <div class="comBasicTxt space">
                                        <p class="txt">
                                            8개소(P1,P2,P3,P4,P5,P6,P7,P8) / 3,000대(이면주차 포함)
                                        </p>
                                    </div>
                                    <div class="comTitH3">
                                        <h3>주차 구획</h3>
                                    </div>
                                    <div class="comBasicTxt space">
                                        <p class="txt">
                                            2,280대(경정장 1,078대, 조정호 902대, 워밍업장 300대) / 720대 공간(이면)주차
                                        </p>
                                    </div>
                                    <div class="parkInfo">
                                        <div class="img">
                                            <img src="../../images/contents/cont28_04_03_01_park.jpg" alt="경정공원 주차안내">
                                        </div>
                                    </div>
                                    <div class="comContTable mgH32">
                                        <div class="tableArea sizeM">
                                            <table>
                                                <caption>주차요금 표 : 구분,요금,대상 항목을 포함한 표</caption>
                                                <colgroup>
                                                    <col style="width:11%">
                                                    <col style="width:10%;">
                                                    <col style="width:18%;">
                                                    <col style="width:auto;">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th colspan="2" class="lineR">구분</th>
                                                        <th>주차요금</th>
                                                        <th>적용대상</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="parkFirstTd">일반요금</td>
                                                        <td>
                                                            <div class="parkDet">
                                                                <ul>
                                                                    <li>소형</li>
                                                                    <li>대형</li>
                                                                    <li>월주차</li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="parkDet">
                                                                <ul>
                                                                    <li>10분당 300원 / 일 최대 10,000원</li>
                                                                    <li>10분당 600원 / 일 최대 20,000원</li>
                                                                    <li>80,000원 / 월 (예정)</li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="comBasicList space fs15">
                                                                <ul class="listGroup">
                                                                    <li class="item">승용차, 2.5t 이하</li>
                                                                    <li class="item">25인승 이상, 2.5t 이상</li>
                                                                    <li class="item">승용차량 (운영시간 06~20시, 주말제외)</li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="parkFirstTd">할인요금</td>
                                                        <td>
                                                            일반
                                                        </td>
                                                        <td>
                                                            <div class="parkDet">
                                                                <ul>
                                                                    <li>주차료의 25%</li>
                                                                    <li>주차료의 50%</li>
                                                                    <li>1000원</li>
                                                                    <li></li>
                                                                    <li>무료</li>
                                                                    <li></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="comBasicList space fs15">
                                                                <ul class="listGroup">
                                                                    <li class="item">다둥이(2자녀)</li>
                                                                    <li class="item">다둥이(3자녀), 경차, 저공해, 국가유공자, 장애인</li>
                                                                    <li class="item">하남시민이 운행하는 차량 (세대당 1대)</li>
                                                                    <li class="item">하남시민이 계약자로 운행하는 리스카, 렌터카 포함</li>
                                                                    <li class="item">하남시민+할인차량(국가유공자, 장애인, 경차, 저공해, 다둥이(2자녀이상, 막내가 만13세 이하), 만65세 이상) 차량</li>
                                                                    <li class="item">하남시 어린이집, 유치원, 요양병원(병원), 장애인단체(교통약자 이동지원센터) 차량</li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="comAddGuide"> 
                                        <p class="guide">입차 후 10분 이내 무료, 요금 사전정산 후 30분 내 출차 시 추가요금 없음</p>
                                        <p class="guide">하남시민은 행정복지센터를 통해 주차감면 차량번호 등록 신청 및 처리 완료 시부터 적용</p>
                                    </div>
                                </div>
                            </div>
                            <!-- 대중교통 이용안내 -->
                            <div class="tabCont">
                                <div class="comTitH2">
                                    <h2>지하철 안내</h2>
                                </div>
                                <div class="comTitH3">
                                    <h3 class="metro">5호선 미사역 하차 후 4번출구</h3>
                                </div>
                                <div class="comBasicTxt">
                                    <p class="txt">
                                        시내버스(112-5번) 승차 -> 경정관람동 앞 하차
                                    </p>
                                </div>
                                <div class="comTitH2 mgH60">
                                    <h2>버스 이용</h2>
                                </div>
                                <div class="comContTable">
                                    <div class="tableArea sizeM">
                                        <table>
                                            <caption>노선번호, 기점, 주요경유지, 배차간격 항목을 포함한 표</caption>
                                            <colgroup>
                                                <col style="width:140px;">
                                                <col style="width:auto;">
                                                <col style="width:auto;">
                                                <col style="width:140px;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>버스번호</th>
                                                    <th>경정장 인근 정류장</th>
                                                    <th>노선안내</th>
                                                    <th>경유지</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>112-5</td>
                                                    <td>미사경정공원 관람동</td>
                                                    <td>서울아산병원 ↔ 미사경정공원</td>
                                                    <td>천호역,강동역,미사역</td>
                                                </tr>
                                                <tr>
                                                    <td>1-4</td>
                                                    <td>경정장 후문</td>
                                                    <td>차산리 ↔ 미사동 차고지</td>
                                                    <td>강동역, 미사역</td>
                                                </tr>
                                                <tr>
                                                    <td>3-1(마을버스)</td>
                                                    <td>경정장 후문</td>
                                                    <td>한솔리치빌 2,3단지 ↔ 하남시민 체험농장</td>
                                                    <td>하남풍산역, 미사역</td>
                                                </tr>
                                                <tr>
                                                    <td>3-2(마을버스)</td>
                                                    <td>경정장 후문</td>
                                                    <td>한솔리치빌 2,3단지 ↔ 미사동 뒷벌</td>
                                                    <td>하남풍산역, 미사역</td>
                                                </tr>
                                                <tr>
                                                    <td>2000-2</td>
                                                    <td>조정경기장 (정문)입구</td>
                                                    <td>잠실역 ↔ 양평터미널</td>
                                                    <td>신원역, 잠실역</td>
                                                </tr>                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정서비스팀',
                    name: '유득희',
                    phone: '031-790-8883',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>