<!-- Header -->
<%- include('../_ejs_eng/top.ejs', {
    title: "KBOAT",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) --> <!-- class : 20250104 subText 부분 텍스트 수정 -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['General Headquarters'],
                    subTitle: 'Misa Motorboat Racing Park',
                    subText: '<b>The Korea Sports Promotion Foundation&rsquo;s KCYCLE and KBOAT General Headquarters</b> is <br>accelerating the arrival of a healthier world.',
                    url: "../../",
                    visualClass: "bg06",
                }) %>

                <div class="layoutContArea">
                    
                    <div class="cptContSpeedom">
                        <div class="contArea">
                            <div class="list">
                                <div class="img"><img src="../../images/contents/cont28_04_01.jpg" alt="미사경정공원"></div>
                                <div class="cont">
                                    <div class="comTitH2">
                                        <h2>Misa Motorboat Racing Park</h2>
                                        <p class="rightTxt">Motorboat Racing Park</p>
                                    </div>
                                    <div class="comBasicTxt">
                                        <p class="txt">We provide guidance to help you conveniently enjoy the park. <br /> Misa Motorboat Racing Park was established for the rowing and canoe events of the 1986 Asian Games and the 1988 Seoul Olympics. Centred around the rowing lake, the park features sports facilities such as football and foot volleyball fields, convenience facilities including shaded areas, kiosks, and bicycle rental, as well as recreational facilities, making it a beloved leisure destination for citizens.</p>
                                    </div>
                                    <div class="infoTxt">
                                        <div class="tit">Objective</div>
                                        <dl>
                                            <dt>Location</dt>
                                            <dd>Misa Motorboat Racing Park, 505 Misadaero, Hanam-si, Gyeonggi-do</dd>
                                        </dl>
                                        <dl>
                                            <dt>Site Area</dt>
                                            <dd>1,329,933㎡ <br />(Main Stadium: 1,128,592㎡ / Warm-Up Zone: 201,341㎡ including green spaces)</dd>
                                        </dl>
                                        <dl>
                                            <dt>Lake Size</dt>
                                            <dd>Length: 2,212m, Width: 140m, Average Depth: 3m</dd>
                                        </dl>
                                        <dl>
                                            <dt>Pedestrian and Bicycle Access</dt>
                                            <dd>05:00 - 20:00</dd>
                                        </dl>
                                        <dl>
                                            <dt>Vehicle Access</dt>
                                            <dd>06:00 - 20:00</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="list bt">
                                <div class="cont">
                                    <div class="comTitH2 mRow">
                                        <h2>Motorboat Racing Park Map</h2>
                                    </div>
                                    <div class="parkImg">
                                        <div class="parkImg"><img src="../../images/contents/cont28_04_02.jpg" alt="Motorboat Racing Park Map"></div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- //서브 컨텐츠 내용이 들어오는 영역-->

                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs_eng/sub_btm.ejs', {
                    team: 'Cycling Services Team',
                    name: 'Shin Dong-heon',
                    phone: '+82 2 2067 5822',
                    url: "../../",
                }) %>
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>