<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KBOAT Racing",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Boating', 'Boat Racing Guide','Enjoy Boat Racing'],
                    subTitle: 'How to Read the Entrants List',
                    subText: 'What is the <b>racecard</b>, <br/>the complete guide to a race?</b>',
					url: "../../",
                    visualClass: "bg03",
				}) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">The racecard is essential data that allows you to view the flow of the race and a variety of rider information at a glance.</h2>
                        <p class="info">It provides crucial information about the riders competing in each race, their past results, and current form.<br/> By utilising the racecard, you can develop betting strategies, compare and analyse riders or races, and predict race results.</p>
                    </div>
                    
                    <div class="cptNumbGuide">
                        <div class="guideArea">
                            <div class="imgArea">
                                <img src="../../images/contents/cont21_01_02_02_001.png" alt="Racecard Details Below" class="pcView"> 
                                <img src="../../images/contents/cont21_01_02_02_001_m.png" alt="Racecard Details Below" class="mView">
                            </div>
                            <div class="descArea">
                                <ul class="numGroup">
                                    <li class="numItem">
                                        <div class="tit"><span class="num">01</span> <span class="txt">Race Information</span></div>
                                        <div class="desc">Provides information on the race schedule, including time slots, race grades (Entry and General), and race types.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">02</span> <span class="txt">Weight</span></div>
                                        <div class="desc">The weight of athletes is measured, and those below the minimum weight criteria (55kg for men, 51kg for women) are required to add weight in order to participate in the race.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">03</span> <span class="txt">Results Over the Last 6 Races</span></div>
                                        <div class="desc">Provides information on the average placing points, average score, winning percentage, top two percentage, top three percentage, and average ST/OST records for the last six races participated in.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">04</span> <span class="txt">Placing in the Last 8 Races</span></div>
                                        <div class="desc">Shows the placing records from the last 8 races participated in, listed in order from the most recent performance on the left.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">05</span> <span class="txt">Annual Cumulative Results</span></div>
                                        <div class="desc">Represents the annual cumulative average placing points and top two percentage.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">06</span> <span class="txt">F/L</span></div>
                                        <div class="desc">Indicates the number of false starts during the grading evaluation period, recorded on a biannual basis.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">07</span> <span class="txt">Average Incident Points</span></div>
                                        <div class="desc">Represents the average incident points recorded during the grading evaluation period.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">08</span> <span class="txt">Today&rsquo;s Other Races</span></div>
                                        <div class="desc">Lists the race numbers for today&rsquo;s events, excluding the current race.</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">09</span> <span class="txt">Previous Day&rsquo;s Results</span></div>
                                        <div class="desc">Provides details of the previous day&rsquo;s races, including the placings and courses used.</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptNumbGuide">
                        <div class="guideArea">
                            <div class="imgArea">
                                <img src="../../images/contents/cont21_01_02_02_002.png" alt="Racecard Details Below" class="pcView"> 
                                <img src="../../images/contents/cont21_01_02_02_002_m.png" alt="Racecard Details Below" class="mView">
                            </div>
                            <div class="descArea">
                                <ul class="numGroup">
                                    <li class="numItem">
                                        <div class="tit"><span class="num">10</span> <span class="txt">Top Two Percentage by Course/Number of Races Entered by Course Over 6 Months</span></div>
                                        <div class="desc">The athlete&apos;s top two percentage by course and number of races entered by course over 6 months</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">11</span> <span class="txt">Motor Performance</span></div>
                                        <div class="desc">Number, average placing points, top two percentage</div>
                                    </li>
                                    <li class="numItem">
                                        <div class="tit"><span class="num">12</span> <span class="txt">Boat Performance</span></div>
                                        <div class="desc">Number, average placing points, top two percentage</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH3">
                                <h3>Average Placing Points</h3>
                            </div>

                            <div class="comBasicTxt space">
                                <p class="txt">An objective measure of an athlete&rsquo;s racing ability, calculated by dividing the total placing points (awarded based on race placings) by the number of races entered.</p>
                            </div>

                            <div class="comContTable">
                                <div class="tableArea sizeM">
                                    <table class="basic">
                                        <caption>Average Placing Points Classification Table: A table distinguishing between general/event races and other categories</caption>
                                        <colgroup>
                                            <col style="width: auto;">
                                            <col style="width: 14.28%;">
                                            <col style="width: 14.28%;">
                                            <col style="width: 14.28%;">
                                            <col style="width: 14.28%;">
                                            <col style="width: 14.28%;">
                                            <col style="width: 14.28%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="lineR">Race Grade \ Placing</th>
                                                <th>1st Place</th>
                                                <th>2nd Place</th>
                                                <th>3rd Place</th>
                                                <th>4th Place</th>
                                                <th>5th Place</th>
                                                <th>6th Place</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="lineR">General/Event Races</th>
                                                <td>10 points</td>
                                                <td>8 points</td>
                                                <td>6 points</td>
                                                <td>4 points</td>
                                                <td>2 points</td>
                                                <td>1 point</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">Other than General/Event Races</th>
                                                <td>11 points</td>
                                                <td>9 points</td>
                                                <td>7 points</td>
                                                <td>5 points</td>
                                                <td>3 points</td>
                                                <td>2 points</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="comAddGuide"> 
                                <p class="guide">In the event of a tie judgement, all athletes are awarded the corresponding placing points</p>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>Average Scores</h3>
                            </div>

                            <div class="comBasicTxt space">
                                <p class="txt">The score derived by subtracting the average incident points (total incident points ÷ number of races entered) from the average placing points (total placing points ÷ number of races entered)</p>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>Average Winning Percentage (Top Two Percentage)ㆍ(Top Three Percentage) Score</h3>
                            </div>

                            <div class="comBasicTxt space">
                                <p class="txt">The number of races finished in 1st place (1st and 2nd place) (1st, 2nd, and 3rd place) divided by the number of races entered, expressed as a percentage</p>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>Average ST (Start Time)</h3>
                            </div>

                            <div class="comBasicTxt space">
                                <p class="txt">A measure indicating the time it takes for a boat to cross the starting line during a flying start race after the large clock reaches 0 seconds. A lower number signifies a faster start</p>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>Average OST (Online Start Time)</h3>
                            </div>

                            <div class="comBasicTxt space">
                                <p class="txt">In an online start race, this measure indicates the time taken to travel from the moment the starting signal is given and the starting machine is released to the moment the boat crosses the flying start line (a distance of 335m). A lower value represents a faster start</p>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>Average Incident Points</h3>
                            </div>

                            <div class="comBasicTxt space">
                                <p class="txt">This score is the sum of the incident points during the corresponding grading evaluation period divided by the number of races entered</p>
                            </div>
                            <div class="comAddGuide space"> 
                                <p class="guide">Incident points are points deducted from a athletes for disqualifications, warnings, or cautions during a race</p>
                            </div>

                            <div class="comContTable">
                                <div class="tableArea sizeM">
                                    <table class="basic">
                                        <caption>Average Placing Points Classification Table: A table distinguishing between general/event races and other categories</caption>
                                        <colgroup>
                                            <col style="width: auto;">
                                            <col style="width: 14.28%;">
                                            <col style="width: 14.28%;">
                                            <col style="width: 14.28%;">
                                            <col style="width: 14.28%;">
                                            <col style="width: 14.28%;">
                                            <col style="width: 14.28%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="lineR">Race Grade \ Placing</th>
                                                <th>Exclusion from Race (I)</th>
                                                <th>Disqualification due to Violations</th>
                                                <th>Exclusion from Race (II) / Other Disqualifications</th>
                                                <th>Foul Warnings</th>
                                                <th>Warning</th>
                                                <th>Caution</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="lineR">General Race</th>
                                                <td>15 points</td>
                                                <td>7 points</td>
                                                <td>4 points</td>
                                                <td>2 points</td>
                                                <td>1 point</td>
                                                <td>0.5 points</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">Beyond Athlete&rsquo;s Responsibility</th>
                                                <td colspan="6">0 points</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>