<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KBOAT Racing",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Boating', 'Boat Racing Guide','Understanding Boat Racing'],
                    subTitle: 'Race Process',
                    subText: 'The thrill of boating<br/><b>Learn how it unfolds.</b>',
					url: "../../",
                    visualClass: "bg03",
				}) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">Let&rsquo;s explore the fundamental information about boating race to enjoy its unique thrill and charm.</h2>
                        <p class="info">Thrilling races await spectators at the boating stadium. By learning basic information about boating race, you can enjoy it even more.</p>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>Race Process</h2>
                            </div>

                            <div class="comBasicTxt">
                                <p class="txt">After the starting signal, riders set off from the starting line and <em>complete five laps (1,691 metres) on the track</em>. A lead guide leads the race initially, reducing wind resistance for the riders. <em>Once the lead guide exits the track, the race enters its critical stage. When the bell rings with one and a half laps remaining to the finish line, the final sprint begins in earnest</em>.</p>
                            </div>

                            <div class="comAddGuide"> 
                                <p class="guide">The race concludes in approximately three minutes, delivering a high-intensity and captivating experience throughout its duration.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptOrderGuide col3">
                        <div class="guideArea">
                            <div class="comTitH3">
                                <h3>Pre-Race - Introduction Run</h3>
                            </div>

                            <div class="imgGuide">
                                <ul class="guideGroup">
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_001.png" alt="Example image illustrating racer confirmation."></div>
                                        <p class="tit"><span class="num">01</span> <span class="txt">Rider Confirmation</span></p>
                                        <p class="desc">Before the race, the racers perform high-speed practice runs on the racecourse, completing up to two laps at full speed to showcase their skill and the performance of their motorboats to the audience.</p>
                                    </li>
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_002.png" alt="Example image of illustrating pre-race confirmation testing"></div>
                                        <p class="tit"><span class="num">02</span> <span class="txt">Introduction Run Time Announcement</span></p>
                                        <p class="desc">During the introduction run, the time taken to travel the 150m distance from the backstretch centre to the second turn mark is measured during the first or second lap and provided to the audience.</p>
                                    </li>
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_003.png" alt="Example image of illustrating rider introduction"></div>
                                        <p class="tit"><span class="num">02-01</span> <span class="txt">Online Start Run and Time Announcement</span></p>
                                        <p class="desc">To provide information about the racers&apos; reaction speeds to the start signal and the performance of the motorboats, the time taken to cover the 335m distance from the dock to the flying start line is measured and shared with the audience.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptOrderGuide col3">
                        <div class="guideArea">
                            <div class="comTitH3">
                                <h3>Pre-Race - Ticket Sales </h3>
                            </div>

                            <div class="imgGuide">
                                <ul class="guideGroup">
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_004.png" alt="Example image of illustrating purchase of race tickets"></div>
                                        <p class="tit"><span class="num">03</span> <span class="txt">Commencement of Betting on Winning Tickets</span></p>
                                        <p class="desc">Details are marked on the purchase slip, and race tickets are bought.</p>
                                    </li>
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_005.png" alt="Example image of illustrating display of payout odds"></div>
                                        <p class="tit"><span class="num">04</span> <span class="txt">Closure of Betting</span></p>
                                        <p class="desc">Once customer betting closes, the payout odds for each betting type are finalised and displayed on the digital board.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptOrderGuide col3">
                        <div class="guideArea">
                            <div class="comTitH3">
                                <h3>Race Progression</h3>
                            </div>

                            <div class="imgGuide">
                                <ul class="guideGroup">
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_006.png" alt="Example image of illustrating entry of participants"></div>
                                        <p class="tit"><span class="num">05</span> <span class="txt">Race Start (Departure from Pit Area)</span></p>
                                        <p class="desc">Once the large clock activates, six boats leave the pit area simultaneously at the start signal.</p>
                                        <div class="comAddGuide"> 
                                            <p class="guide">In online start races, the race begins as the boats leave the pit area following the start signal.</p>
                                        </div>
                                    </li>
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_007.png" alt="Example image of illustrating purchase of race tickets"></div>
                                        <p class="tit"><span class="num">06</span> <span class="txt">Standby Behaviour</span></p>
                                        <p class="desc">This refers to the movement of motorboats after departing from the pit area until they cross the start line. There are two systems in use: the course competition system or the fixed entry system.</p>
                                    </li>
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_008.png" alt="Example image illustrating race in progress"></div>
                                        <p class="tit"><span class="num">07</span> <span class="txt">Start</span></p>
                                        <p class="desc">The race uses the flying start method, in which the motorboats cross the start line within 1.0 seconds while in motion.</p>
                                    </li>
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_009.png" alt="Example image illustrating pacer exit"></div>
                                        <p class="tit"><span class="num">08</span> <span class="txt">Race</span></p>
                                        <p class="desc">Once the large clock activates, six boats leave the pit area simultaneously at the start signal.</p>
                                    </li>
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_010.png" alt="Example image illustrating bell ring"></div>
                                        <p class="tit"><span class="num">09</span> <span class="txt">Arrival</span></p>
                                        <p class="desc">This refers to the movement of motorboats after departing from the pit area until they cross the start line. There are two systems in use: the course competition system or the fixed entry system.</p>
                                    </li>
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_011.png" alt="Example image illustrating the spurt"></div>
                                        <p class="tit"><span class="num">10</span> <span class="txt">Finish</span></p>
                                        <p class="desc">The race uses the flying start method, in which the motorboats cross the start line within 1.0 seconds while in motion.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="cptOrderGuide col3">
                        <div class="guideArea">
                            <div class="comTitH3">
                                <h3>End of Race</h3>
                            </div>

                            <div class="imgGuide">
                                <ul class="guideGroup">
                                    <li class="guideItem">
                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_012.png" alt="Example image of illustrating confirmation of results and display of confirmed payout odds"></div>
                                        <p class="tit"><span class="num">11</span> <span class="txt">Payout of Winngings</span></p>
                                        <p class="desc">Winngings are paid to customers who have winning betting tickets.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>Unique Race Format in Boating</h2>
                            </div>

                            <div class="comFloatImg">
                                <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_013.png" alt="Departure from pit area after large clock activation -> Low-speed circling around 60 seconds before start / 6 motorboats heading toward start line 15 seconds before start (entry run) > Full-speed acceleration around 8 seconds before start > Start near 0 seconds"></div>
                                <div class="descArea">
                                    <h4 class="descTit">Departure from Pit Area and Standby Behaviour</h4>
                                    <p class="desc">The movement of the six boats from leaving the pit area until they cross the start line is referred to as standby behaviour. After departing the pit area following the start signal, racers compete to secure advantageous lanes under the course competition system, or move to their designated lanes without competition under the fixed lane entry system. Currently, the fixed lane entry system is being implemented.</p>
                                </div>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>Standby Run</h3>
                            </div>

                            <div class="comBasicTxt space">
                                <p class="txt">It occurs between the departure from the pit area and the start of the entry run. There are six boats in numerical order in the pit area. In the fixed lane entry system, the number assigned at the pit area corresponds to the lane number, while in the course competition system, racers select their desired lane immediately after leaving the dock.</p>
                            </div>
                            <div class="comTitH3">
                                <h3>Course Competition System</h3>
                            </div>

                            <div class="comBasicTxt space">
                                <p class="txt">It occurs between the departure from the pit area and the start of the entry run. There are six boats in numerical order in the pit area. In the fixed lane entry system, the number assigned at the pit area corresponds to the lane number, while in the course competition system, racers select their desired lane immediately after leaving the dock.</p>
                            </div>
                            <div class="comTitH3">
                                <h3>Entry Run</h3>
                            </div>

                            <div class="comBasicTxt space">
                                <p class="txt">After completing the standby run, all boats head toward the start line. The movement until they cross the start line is called the entry run. The act of moving into the chosen or designated lane is referred to as &ldquo;entry.&rdquo;</p>
                            </div>
                        </div>
                    </div>

                    <div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>The Flying Start: Key to Success</h2>
                            </div>

                            <div class="comFloatImg">
                                <div class="descArea">
                                    <p class="desc">Boat racing does not use a stationary start like the online start method. Instead, the flying start method is employed, where boats in motion must cross the start line within a designated timeframe. <br/> After leaving the pit area following the start signal, racers must cross the start line within 0 to 1.0 seconds of the starting time. If they cross the start line before the start time, they are subject to the Flying (premature start) rule. If they exceed 1.0 seconds after the start time, the Late start rule applies. In both cases, the racer is disqualified, and the affected customer&apos;s betting tickets are refunded.</p>

                                    <div class="comTitH3">
                                        <h3>Start Timing (ST)</h3>
                                    </div>
        
                                    <div class="comBasicTxt space">
                                        <p class="txt">Start timing is the value indicating how many seconds after the large clock&apos;s hand reaches 0 a boat&apos;s rear edge crosses the start line. For example, if the value is 0.11, it means the boat crossed the start line 0.11 seconds after 0 seconds.</p>
                                    </div>
                                </div>
                                <div class="imgArea"><img src="../../images/contents/cont21_01_01_03_014.png" alt="Late start (L) on the left, Flying departure (F) on the right"></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>