<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KBOAT Racing",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Boating', 'Boat Racing Guide','Understanding Boat Racing'],
                    subTitle: 'Components of Boat Racing',
                    subText: 'The more you know, the more fun you&rsquo;ll have!<br/><b>Learn how boat racing works.</b>',
					url: "../../",
                    visualClass: "bg03",
				}) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">High speeds! Discover more about unpredictable boat racing. </h2>
                        <p class="info">Boat racing often yields unpredictable outcomes due to various influencing factors. Compared to other sports, it involves many variables to deduce, making it essential to understand helpful information about the races.</p>
                    </div>

                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toMob">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button type="button" class="tabName on" title="Selected Tab Menu">Boat Racing Venues</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button type="button" class="tabName" title="Tab Menu">Athlete</button></li>
                                <li class="tabItem swiper-slide"><button type="button" class="tabName" title="Tab Menu">Referee</button></li>
                                <li class="tabItem swiper-slide"><button type="button" class="tabName" title="Tab Menu">Motorboat</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button type="button" class="prev">Previous</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button type="button" class="next">Next</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"><!-- addClass - on : 컨텐츠 노출 -->
                                <!-- 탭 컨텐츠1 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Race Facilities and Equipment</h2>
                                        </div>
            
                                        <div class="comImgBox">
                                            <div class="imgWrap">
                                                <div class="imgWrap"><img src="../../images/contents/cont21_01_01_04_001.png" alt="Image of race facilities and equipment."></div>
                                            </div> 
                                        </div> 
                                    </div>
                                </div>

                                <div class="cptOrderGuide col3">
                                    <div class="guideArea">
                                        <div class="comTitH2">
                                            <h2>A Quick Look at the Race Course</h2>
                                        </div>
            
                                        <div class="imgGuide noLine"> <!--class 'noLine' : 상단 구분선 없음 -->
                                            <ul class="guideGroup">
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_002.png" alt="A photo of the centre pole"></div>
                                                    <p class="tit"><span class="num round">01</span> <!--class 'round' : 원형 마크 넘버링--> <span class="txt">Centre Pole</span></p>
                                                    <p class="desc">The centre pole serves as the reference for confirming the start and finish points</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_003.png" alt="A photo of a marking pole"></div>
                                                    <p class="tit"><span class="num round">02</span> <span class="txt">Marking Poles</span></p>
                                                    <p class="desc">Poles indicating specific positions on the water surface, divided into 5m, 45m, 80m, and 100m markers</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_004.png" alt="A photo of marking boards"></div>
                                                    <p class="tit"><span class="num round">03</span> <span class="txt">Marking Boards</span></p>
                                                    <p class="desc">Boards that show the position of the starting line, divided into 5m, 45m, 85m, 100m, and 150m markers</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_005.png" alt="A photo of turn markers"></div>
                                                    <p class="tit"><span class="num round">04</span> <span class="txt">Turn Markers</span></p>
                                                    <p class="desc">Indicators marking the designated turning points (110cm in diameter, 95cm in height)</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_006.png" alt="A photo of overhead wires"></div>
                                                    <p class="tit"><span class="num round">05</span> <span class="txt">Overhead Wire</span></p>
                                                    <p class="desc">A wire connecting the 5m and 45m marking poles (plates) and the 80m marking pole to the 85m marking board. This serves as a critical reference for racers to identify the starting position. The connection between the 80m pole and the 85m board accounts for instantaneous speed and distance discrepancies between inner and outer racers.</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_007.png" alt="A photo the large clock"></div>
                                                    <p class="tit"><span class="num round">06</span> <span class="txt">Large Clock</span></p>
                                                    <p class="desc">A clock used to signal the start for races using the flying start method (It includes a 2-minute light, a 1-minute hand, and a 12-second hand)</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_008.png" alt="A photo of the checker light"></div>
                                                    <p class="tit"><span class="num round">07</span> <span class="txt">Checker Light</span></p>
                                                    <p class="desc">A signal device that flashes alternately around 15 seconds before the start and when crossing the finish line</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_009.png" alt="A photo of the three-colour signal light"></div>
                                                    <p class="tit"><span class="num round">08</span> <span class="txt">Three-Colour Signal Light</span></p>
                                                    <div class="comBasicList">
                                                        <ul class="listGroup">
                                                            <li class="item"><span class="lineTit">Final Lap Indicator (Green): </span> <span class="lineTxt">Lights up when one lap remains</span></li>
                                                            <li class="item"><span class="lineTit">Disqualification/Withdrawal Indicator (Red): </span> <span class="lineTxt">Lights up when disqualifications occur</span></li>
                                                            <li class="item"><span class="lineTit">Race Suspension Indicator (Yellow): </span> <span class="lineTxt">Lights up when the race is suspended</span></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_010.png" alt="A photo of the stop light"></div>
                                                    <p class="tit"><span class="num round">09</span> <span class="txt">Stop Light</span></p>
                                                    <p class="desc">Lights up when the race is suspended</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_011.png" alt="A photo of lighting during race suspension"></div>
                                                    <p class="tit"><span class="num round">10</span> <span class="txt">Lighting During Race Suspension</span></p>
                                                    <p class="desc">A red warning light that lights up to indicate a signal for disqualification or withdrawal during the race</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_012.png" alt="A photo of a normal start indicator"></div>
                                                    <p class="tit"><span class="num round">11</span> <span class="txt">(Online/Flying Start)</span></p>
                                                    <p class="desc">Displays <b class="tBlue2">&ldquo;O&rdquo; (blue) for a normal start and &ldquo;X&rdquo;</b> for a normal start and <b class="tRed">&quot;X&quot; (red)</b> for a start accident</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_013.png" alt="A photo of the hazard signal light"></div>
                                                    <p class="tit"><span class="num round">12</span> <span class="txt">Hazard Signal Light</span></p>
                                                    <p class="desc">A signal device that flashes (red/yellow) during race accidents (capsizing or falling into the water)</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_014.png" alt="A photo of the sailing direction indicator"></div>
                                                    <p class="tit"><span class="num round">13</span> <span class="txt">Sailing Direction Indicator</span></p>
                                                    <p class="desc">A signal device guiding the racing motorboats on direction when the hazard signal light is on</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_015.png" alt="A photo of the starting indicator"></div>
                                                    <p class="tit"><span class="num round">14</span> <span class="txt">Starting Indicator</span></p>
                                                    <p class="desc">Installed in the dock departure pit to signal the racers with information about engine start, departure, or stopping </p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_016.png" alt="A photo of the normal start inidicator (online start)"></div>
                                                    <p class="tit"><span class="num round">15</span> <span class="txt">Normal Start Indicator (Online Start)</span></p>
                                                    <p class="desc">Displays <b class="tGreen">&quot;●&quot; (green)</b> for a normal start and <b class="tRed">&quot;●&quot; (red)</b> for an abnormal start</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠2 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Boat Racer</h2>
                                        </div>
                                        <div class="comBasicTxt">
                                            <p class="txt">Registration is only available to athletes who pass the qualification exam conducted by the Korea Sports Promotion Foundation.</p>
                                        </div>

                                        <div class="comTitH3">
                                            <h3>Athlete Registration</h3>
                                        </div>
                                        <div class="comBasicTxt space">
                                            <p class="txt">A boating athlete can register as such only after passing the boating athlete candidacy selection exam, completing an 18-month boating training programme, and passing the prescribed test in accordance with the Track Cycling and Boat Racing Act. <br/> <span class="tMint">Eligibility for Candidacy Selection Exam: Male and female aged between 19 and 30 years old, under 175cm and 68kg. Both eyes must have unaided vision of 0.8 or higher, with no colour blindness.</span></p>
                                        </div>

                                        <div class="comTitH3">
                                            <h3>Qualification Exam Applicants</h3>
                                        </div>
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">Those who have completed the athlete training programme at the boat racing training centre</li>
                                                <li class="item">Athletes already registered as boat racing athletes who are applying for re-registration within one month before their 2-year registration validity period expires</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>Examination Subjects</h3>
                                        </div>
                                        <div class="comBasicTxt space">
                                            <p class="txt">Written examination, practical examination, interview and medical check-up</p>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>Registration Period</h3>
                                        </div>
                                        <div class="comBasicTxt space">
                                            <p class="txt">2 years</p>
                                        </div>
                                        <div class="comTitH3">
                                            <h3>Athlete Prize Money</h3>
                                        </div>
                                        <div class="comBasicTxt space">
                                            <p class="txt">Athletes participating in races are awarded prize money based on the type of race and their placing rankings. Prize categories include general races, title races, and special races. Additionally, appearance allowances and preparatory allowances for races are provided.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptCol3Section">
                                    <div class="sectArea">
                                        
                                        <div class="comTitH2">
                                            <h2>Boat Racing Athlete Uniforms</h2>
                                        </div>

                                        <ul class="sectGroup">
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_017.png" alt="A reference photo of the racing uniform (top)"></div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>Racing Uniform (Top)</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">The outer fabric is polyester, and the lining is para-aramid to protect the athlete&rsquo;s upper body. The jumper-shaped uniform is produced in six basic background colours, with each athlete&apos;s &quot;number&quot; affixed to the back for spectator identification. <br/> <span class="tMint">Colours: White (No. 1), Black (No. 2), Red (No. 3), Blue (No. 4), Yellow (No. 5), Green (No. 6).</span></p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_018.png" alt="A reference photo of the racing uniform (bottom)"></div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>Racing Uniform (bottom)</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">Worn under the waterproof cover, the bottoms are made with double-layered para-aramid fabric throughout, with key areas (such as the waist) featuring triple layers to protect the athlete&apos;s lower body from impacts and propeller-related injuries.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_019.png" alt="A reference photo of the waterproof suit"></div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>Waterproof Suit</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">Designed to resist splashes and manufactured with functional nylon or equivalent materials with high waterproofing, water-repellence, and breathability.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_020.png" alt="A reference photo of gloves"></div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>Gloves</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">The outer layer is leather, allowing flexibility for operating motorboats and preventing slipping during steering. The inner lining is reinforced with para-aramid fibres to ensure the athlete&apos;s hand safety.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_021.png" alt="A reference photo of wristbands, arm protection bands, and socks"></div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>Wristbands, Arm Protection Bands, and Socks</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">These are made from para-aramid material to protect the athlete&apos;s wrists, arms, and feet. They are stretchable to ensure a snug fit and maintain their original shape even after wear.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_022.png" alt="A reference photo of racing shoes"></div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>Racing Shoes</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">Designed to protect the athlete&rsquo;s feet and ankles in the event of collisions or accidents, the soles feature anti-slip rubber, with one layer of titanium plating, three layers of para-aramid, and a polyurethane insole for enhanced safety. The upper section includes two layers of titanium plates, para-aramid, and waterproof neoprene material.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_023.png" alt="A reference photo of a life jacket"></div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>Life Jacket</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">Made from vacuum-moulded epoxy resin and polyethylene fibres, the life jacket protects the athlete&apos;s body from external impacts and prevents drowning by allowing the wearer to remain nearly upright in water if submerged.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_024.png" alt="A reference photo of an arm protector"></div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>Arm Protector</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">This gear protects the athlete&rsquo;s left hand and arm from the back of the hand to the elbow. Manufactured with natural leather, para-aramid fibres, high-density N.B.R., and laminated glass fibres, the arm protector ensures safety during races.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_025.png" alt="A reference photo of a helmet"></div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>Helmet</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">The helmet complies with Korea Industrial Standards (KS) for type-3 full-face safety helmets. It is designed to reduce external shocks to the head. The interior is free from sharp or hard objects that may cause injury and is constructed to remain buoyant in any water submersion event, ensuring athlete safety.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div> 
                                </div>
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠3 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Boat Racing Referees</h2>
                                        </div>
                    
                                        <div class="comBasicTxt">
                                            <p class="txt">Boat racing referees apply the rules of motorboat racing competitions with composure, impartiality, and strict adherence to their principles. They oversee and manage the entire race process, from the start to its progression and determination of final rankings. <br/> Decisions regarding athletes who commit acts that may violate racing regulations are based on thorough investigation and judgement. The causes of such acts, how they occurred, their progression, and the impact on the race and other athletes are comprehensively analysed to make a final decision.</p>
                                        </div>
                                        <div class="comImgWrap col3">
                                            <div class="imgGroup">
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_026.png" alt="Boat racing referees overseeing races 1"></div>
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_027.png" alt="Boat racing referees overseeing races 2"></div>
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_028.png" alt="Boat racing referees overseeing races 3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptMission">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Refereeing Mission</h2>
                                        </div>

                                        <ul class="mssnGroup">
                                            <li class="mssnItem">
                                                <dl>
                                                    <dt><span class="num">1</span> <b>Swift and Accurate Judgements</b></dt>
                                                    <dd>Referees promptly and accurately determine violations by thoroughly examining their cause, progression, and results</dd>
                                                </dl>
                                            </li>
                                            <li class="mssnItem">
                                                <dl>
                                                    <dt><span class="num">2</span> <b>Enhancing Professionalism of Referees</b></dt>
                                                    <dd>Referees strengthen their expertise through weekly and monthly training, emergency drills, seminars, and training conducted by invited experts</dd>
                                                </dl>
                                            </li>
                                            <li class="mssnItem">
                                                <dl>
                                                    <dt><span class="num">3</span> <b>Customer-Centric Operation</b></dt>
                                                    <dd>The system incorporates daily honorary judges, briefing sessions for judge rulings, and the production of judging guides to provide accurate and transparent explanations regarding race operations and rulings</dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Structure of Referees (Task Allocation)</h2>
                                        </div>
            
                                        <div class="comImgBox">
                                            <div class="pcView"><img src="../../images/contents/cont21_01_01_04_029.png" alt="Head referee - Chief referee - Assistant referee - Course referee - Signalman - Finish Line Official - Record keeper - Bulletin board official / Corner referee - First corner referee - Second corner referee"></div>
                                            <div class="mView"><img src="../../images/contents/cont21_01_01_04_029_m.png" alt="Head referee - Chief referee - Assistant referee - Course referee - Signalman - Finish Line Official - Record keeper - Bulletin board official / Corner referee - First corner referee - Second corner referee"></div>
                                        </div> 
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Roles of Referees</h2>
                                        </div>

                                        <div class="comContTable">
                                            <div class="tableArea">
                                                <table class="basic">
                                                    <caption>Referee Roles Table: Table including roles by referee category</caption>
                                                    <colgroup>
                                                        <col style="width:120px;">
                                                        <col style="width:auto;">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th class="lineR">Head Referee</th>
                                                            <td class="left">Oversees central refereeing and operations, monitors and judges rule violations during introduction runs and races, as well as flying starts and ranking determinations</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Chief Referee</th>
                                                            <td class="left">Records race situations, reviews and judges rule violations, and acts on behalf of the Head Referee when necessary</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Course Referee</th>
                                                            <td class="left">Oversees race progression, monitors the large clock and external signal equipment, and confirms final rankings</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Signalman</th>
                                                            <td class="left">Measures the introduction run time and lap time per round and announces the remaining laps</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Finish Line Official</th>
                                                            <td class="left">Determines start violations and arrival rankings</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Record Keeper</th>
                                                            <td class="left">Inputs and manages race results and judgement information into the race operation system</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Bulletin Board Official</th>
                                                            <td class="left">Operates the internal information display system and race progress monitoring system</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Corner Referee</th>
                                                            <td class="left">Monitors rule violations near the turn markers</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Referee Registration System</h2>
                                        </div>
                                        
                                        <div class="comBasicList">
                                            <ul class="listGroup">
                                                <li class="item">Registration is only available to referees who pass the qualification exam conducted by the Korea Sports Promotion Foundation. To become a boat racing referee, individuals must complete a judge training course and pass the boat racing judge registration exam conducted by the Korea Sports Promotion Foundation.&nbsp;</li>
                                                <li class="item">The course takes 3-6 months and covers motorboat-related laws, practical control and maintenance skills, and judge-related knowledge and practical work. Eligibility requirements are specified one month prior to the recruitment announcement.</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>Qualification Exam Applicants</h3>
                                        </div>
                                        
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">Individuals who have completed or are attending the referee training course at the boat racing training centre</li>
                                                <li class="item">Registered boat racing referees applying for re-registration within one month of their 2-year registration validity period expiring</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>Examination Subjects</h3>
                                        </div>
                                        
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">Written examination, practical examination, interview and medical check-up</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>Registration Period</h3>
                                        </div>
                                        
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">2 years</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠4 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>The Highlight of Motorboat Racing: The Motorboat</h2>
                                        </div>
            
                                        <div class="comFloatImg">
                                            <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_030.png" alt="A photo of motorboats in action during races"></div>
                                            <div class="descArea">
                                                <p class="desc">Boat racing, where white sprays rise on the blue water surface, uses single-seater motorboats with external motors attached. The maintenance of the boats and motors is carried out by professional mechanics, and athletes are assigned boats and motors through a draw before the race.</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Design and Manufacturing of Boats</h2>
                                        </div>
                                        
                                        <div class="comBasicTxt">
                                            <p class="txt">The boats are 100% developed with domestic technology, adhering to the low-centre-of-gravity principle to enhance stability. The motors also incorporate some standard components but were developed as domestic models, featuring a magnet system essential for boat racing and significantly improved propulsion and speed with custom-designed propellers. These advancements contribute greatly to the independent expertise in the small vessel sector and the development of related equipment industries.</p>
                                        </div>
                                        <div class="comImgWrap col3">
                                            <div class="imgGroup">
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_031.png" alt="Designing and manufacturing motorboats 1"></div>
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_032.png" alt="Designing and manufacturing motorboats 2"></div>
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_01_04_033.png" alt="Designing and manufacturing motorboats 3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Motorboats Used in Boat Racing</h2>
                                        </div>
                                        
                                        <div class="comBasicTxt">
                                            <p class="txt">The motorboats are domestically manufactured by companies selected through the contract procedures of the Korea Sports Promotion Foundation. Primarily constructed with birch plywood and melanti plywood, the boats achieve high strength and lightweight characteristics. To provide a thrilling and engaging race experience, the boat&apos;s performance is optimised.<br/> The control and stability of these boats are on par with Japanese motorboats, which boast over 50 years of history. Furthermore, in terms of structural strength and buoyancy restoration, the boats exhibit exceptional development.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Structure of a Motorboat</h2>
                                        </div>
                                        
                                        <div class="comBasicTxt">
                                            <p class="txt">Key equipment includes a steering wheel to control direction, a throttle lever for speed adjustment, cowling for athlete protection, and a soft bow.</p>
                                        </div>
                                        
                                        <div class="comImgBox">
                                            <div class="imgWrap"><img src="../../images/contents/cont21_01_01_04_034.png" alt="Structural Description of the Motorboat An image that describes soft bow, throttle lever, mast, cowling, and motor"></div>
                                        </div> 
                                    </div>
                                </div>
                                
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Structure of the Motor</h2>
                                        </div>
                                        
                                        <div class="comBasicTxt">
                                            <p class="txt">The motor is powered by a 403cc, two-stroke, two-cylinder engine. It consists of a power unit that generates propulsion and a lower unit that converts and transmits the propulsion to rotational motion.</p>
                                        </div>
                                        
                                        <div class="comImgBox">
                                            <div class="imgWrap"><img src="../../images/contents/cont21_01_01_04_035.png" alt="Structural Description of the Motorboat Handle, power unit (main engine, carburettor, fuel tank, etc.), and lower unit (stern bracket, gear case, propeller, etc.)."></div>
                                        </div> 
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Specifications of the Motorboat</h2>
                                        </div>

                                        <div class="comContTable">
                                            <div class="tableArea">
                                                <table class="basic">
                                                    <caption>A Specifications Table of the Motorboat: Table including boat specifications such as overall length, width, boat weight, etc.</caption>
                                                    <colgroup>
                                                        <col style="width:120px;">
                                                        <col style="width:auto;">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th class="lineR">Overall Length</th>
                                                            <td class="left">2,770mm (excluding the soft bow)</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Width</th>
                                                            <td class="left">1,320mm</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Boat Weight</th>
                                                            <td class="left">75.5kg</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Main Engine</th>
                                                            <td class="left">32 horsepower outboard drive</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Seating Capacity</th>
                                                            <td class="left">1 person</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Fuel Tank Capacity</th>
                                                            <td class="left">2,300ml</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Motor Weight</th>
                                                            <td class="left">43kg</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">Speed</th>
                                                            <td class="left">Approximately 40knots (75km/h)</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>