<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KBOAT Racing",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Boating','Boat Racer','Ranking Information'],
                    subTitle: 'Wins Ranking',
                    subText: 'We provide information on the <b>wins rankings</b> <br>based on 1st, 2nd, and 3rd place finishes.',
					url: "../../",
                    visualClass: "bg03",
				}) %>
                

                <div class="layoutContArea">

					<div class="cptSection">
						<div class="sectArea">
							<div class="comTitH2 mRow">
								<h2>Boat Racer Wins Ranking</h2>
								<div class="right">
									<div class="frmBox">
										<select class="iptSlt">
											<option value="">2024</option>
											<option value="">Dropdown</option>
										</select>
									</div>
								</div>
							</div>


							<div class="comDataTable">
								<div class="tableArea sizeXL">
									<table>
										<caption></caption>
										<colgroup>
											<col style="width:5.1428%;">
											<col style="width:7.1428%;">
											<col style="width:7.1428%;">
											<col style="width:7.1428%;">
											<col style="width:7.1428%;">
											<col style="width:7.1428%;">
											<col style="width:7.1428%;">
											<col style="width:7.1428%;">
											<col style="width:7.1428%;">
											<col style="width:7.1428%;">
											<col style="width:auto;">
											<col style="width:auto;">
											<col style="width:5.1428%;">
											<col style="width:5.1428%;">
										</colgroup>
										<thead>
											<tr>
                                                <th>Ranking</th>
                                                <th>Athlete Name</th>
                                                <th><button type="button" class="sortIco" title="Sort in descending order">Grade</button></th><!-- class="sortIco up" title="오름차순으로 정렬" -->
                                                <th><button type="button" class="sortIco" title="Sort in descending order">Number of Races Entered</button></th>
                                                <th><button type="button" class="sortIco" title="Sort in descending order">1st Place Wins</button></th>
                                                <th><button type="button" class="sortIco" title="Sort in descending order">2nd Place Wins</button></th>
                                                <th><button type="button" class="sortIco" title="Sort in descending order">3rd Place Wins</button></th>
                                                <th><button type="button" class="sortIco" title="Sort in descending order">Winning Percentage</button></th>
                                                <th><button type="button" class="sortIco" title="Sort in descending order">Top Two Percentage</button></th>
                                                <th><button type="button" class="sortIco" title="Sort in descending order">Top Three Percentage</button></th>
                                                <th><button type="button" class="sortIco" title="Sort in descending order">Average Score (6 Races)</button></th>
                                                <th><button type="button" class="sortIco" title="Sort in descending order">Average Score (Overall)</button></th>
                                                <th>F</th>
                                                <th>L</th>
											</tr>
										</thead>
										<tbody>
											<tr>
                                                <td>1</td>
                                                <td>Shim Sang-cheol</td>
                                                <td>A1</td>
                                                <td>58</td>
                                                <td>34</td>
                                                <td>9</td>
                                                <td>8</td>
                                                <td>58.6%</td>
                                                <td>74.1%</td>
                                                <td>87.9%</td>
                                                <td>8.1</td>
                                                <td>8.034483</td>
                                                <td>0</td>
                                                <td>0</td>
											</tr>
											<tr>
												<td>2</td>
                                                <td>Shim Sang-cheol</td>
                                                <td>A1</td>
                                                <td>58</td>
                                                <td>34</td>
                                                <td>9</td>
                                                <td>8</td>
                                                <td>58.6%</td>
                                                <td>74.1%</td>
                                                <td>87.9%</td>
                                                <td>8.1</td>
                                                <td>8.034483</td>
                                                <td>0</td>
                                                <td>0</td>
											</tr>
											<tr>
												<td>3</td>
                                                <td>Shim Sang-cheol</td>
                                                <td>A1</td>
                                                <td>58</td>
                                                <td>34</td>
                                                <td>9</td>
                                                <td>8</td>
                                                <td>58.6%</td>
                                                <td>74.1%</td>
                                                <td>87.9%</td>
                                                <td>8.1</td>
                                                <td>8.034483</td>
                                                <td>0</td>
                                                <td>0</td>
											</tr>
											<tr>
												<td>4</td>
                                                <td>Shim Sang-cheol</td>
                                                <td>A1</td>
                                                <td>58</td>
                                                <td>34</td>
                                                <td>9</td>
                                                <td>8</td>
                                                <td>58.6%</td>
                                                <td>74.1%</td>
                                                <td>87.9%</td>
                                                <td>8.1</td>
                                                <td>8.034483</td>
                                                <td>0</td>
                                                <td>0</td>
											</tr>
											<tr>
												<td>5</td>
                                                <td>Shim Sang-cheol</td>
                                                <td>A1</td>
                                                <td>58</td>
                                                <td>34</td>
                                                <td>9</td>
                                                <td>8</td>
                                                <td>58.6%</td>
                                                <td>74.1%</td>
                                                <td>87.9%</td>
                                                <td>8.1</td>
                                                <td>8.034483</td>
                                                <td>0</td>
                                                <td>0</td>
											</tr>
											<tr>
												<td>6</td>
                                                <td>Shim Sang-cheol</td>
                                                <td>A1</td>
                                                <td>58</td>
                                                <td>34</td>
                                                <td>9</td>
                                                <td>8</td>
                                                <td>58.6%</td>
                                                <td>74.1%</td>
                                                <td>87.9%</td>
                                                <td>8.1</td>
                                                <td>8.034483</td>
                                                <td>0</td>
                                                <td>0</td>
											</tr>
											<tr>
												<td>7</td>
                                                <td>Shim Sang-cheol</td>
                                                <td>A1</td>
                                                <td>58</td>
                                                <td>34</td>
                                                <td>9</td>
                                                <td>8</td>
                                                <td>58.6%</td>
                                                <td>74.1%</td>
                                                <td>87.9%</td>
                                                <td>8.1</td>
                                                <td>8.034483</td>
                                                <td>0</td>
                                                <td>0</td>
											</tr>
											<tr>
												<td>8</td>
                                                <td>Shim Sang-cheol</td>
                                                <td>A1</td>
                                                <td>58</td>
                                                <td>34</td>
                                                <td>9</td>
                                                <td>8</td>
                                                <td>58.6%</td>
                                                <td>74.1%</td>
                                                <td>87.9%</td>
                                                <td>8.1</td>
                                                <td>8.034483</td>
                                                <td>0</td>
                                                <td>0</td>
											</tr>
											<tr>
												<td>9</td>
                                                <td>Shim Sang-cheol</td>
                                                <td>A1</td>
                                                <td>58</td>
                                                <td>34</td>
                                                <td>9</td>
                                                <td>8</td>
                                                <td>58.6%</td>
                                                <td>74.1%</td>
                                                <td>87.9%</td>
                                                <td>8.1</td>
                                                <td>8.034483</td>
                                                <td>0</td>
                                                <td>0</td>
											</tr>
											<tr>
												<td>10</td>
                                                <td>Shim Sang-cheol</td>
                                                <td>A1</td>
                                                <td>58</td>
                                                <td>34</td>
                                                <td>9</td>
                                                <td>8</td>
                                                <td>58.6%</td>
                                                <td>74.1%</td>
                                                <td>87.9%</td>
                                                <td>8.1</td>
                                                <td>8.034483</td>
                                                <td>0</td>
                                                <td>0</td>
											</tr>
                                            <!-- 순위 리스트는 50개로 노출 -->
                                        </tbody>
									</table>
								</div>
							</div>
					
							<!-- 페이징 -->
							<div class="comPaging">
								<a class="start" href="#"></a>
								<a class="prev" href="#"></a>
								<ul class="numList">
									<li><a href="#">1</a></li>
									<li class="on"><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
								<a class="next" href="#"></a>
								<a class="end" href="#"></a>
							</div>

                        </div>
                    </div>
					
                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>