<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KBOAT Racing",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
	<div class="layoutArea">

		<!-- 상단영역 -->
		<div class="layoutTop">
			<!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
		</div>
		<!-- //상단영역 -->

		<!-- 중단영역 -->
		<div class="layoutContainer" id="container">

			<!-- 서브 콘텐츠 영역 -->
			<div class="layoutSubCont">

				<!-- 서브 컨텐츠 내용이 들어오는 영역-->
				<!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Boating', 'Boat Racing Guide','Understanding Boat Racing'],
                    subTitle: 'Boat Racing Introduction',
                    subText: 'We introduce boating, <br>a new <b>interactive leisure sport</b>.',
					url: "../../",
                    visualClass: "bg03",
				}) %>
				
				<div class="layoutContArea">

					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2 bk lg">
                                <h2>Boat racing is a <b>competitive race based on ranking</b>, rather than records, making it a type of <b>interactive marine sport</b>.</h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">Boat racing is a thrilling leisure activity, featuring high-speed, action-packed races full of unpredictable results influenced by various factors.<br/> From the starting dock to the finish line, spectators can enjoy the exhilarating spray and speed while predicting the winning racer.</p>
                            </div>

                            <div class="comImgWrap">
                                <div class="imgGroup">
                                    <div class="imgArea">
                                        <div class="pcView"><img src="../../images/contents/cont21_01_01_01_001.png" alt="Boat racing Image"></div>
                                        <div class="mView"><img src="../../images/contents/cont21_01_01_01_001_m.png" alt="Boat racing Image"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH2">
                                <h2>Types of Boat Racing</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>General Race</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt"> Refers to boating races held every Wednesday and Thursday.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>Grand Prix Boat Racing</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">Grand Prix Boat Racing features <b>competitions with specific titles on the line</b>, involving athletes with excellent performance over a set period. <br> Prizes such as trophies and other awards are given to athletes finishing in first, second, and third places.</p>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>Grand Prix Boat Racing</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">The final event of the season, featuring the best athletes of the year competing to be crowned the boat racing champion.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>Special Boat Racing</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">Boating races organised for specific purposes. Notable examples include the Kurihara Race, the Queen&apos;s Cup, and the Rookie&apos;s Championship. &nbsp;</p>
                            </div>
						</div>
					</div>

					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2">
                                <h2>Types of Races</h2>
                            </div>

                            <div class="comTitH3">
                                <h3>Flying Start</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">Unique to boat racing, the flying start involves six motorboats crossing an imaginary start line on the water at full speed as the large clock moves from 0 seconds (at the 12 o&rsquo;clock position) to 1.0 seconds. Athletes who achieve a start closer to 0 seconds tend to take control of the race.</p>
                            </div>
                            <div class="comTitH3">
                                <h3>Online Start</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">The online start involves all racers starting simultaneously from the starting line.</p>
                            </div>
						</div>
					</div>
                    
					<div class="cptSection">
						<div class="sectArea">
                            <div class="comTitH2">
                                <h2>Boat Racing Betting Limits</h2>
                            </div>

                            <div class="comBasicTxt">
                                <p class="txt">The minimum betting amount is KRW 100, and the maximum is KRW 100,000.</p>
                            </div>
						</div>
					</div>

                </div><!-- // layoutContArea -->
                
                <div class="cptContFull addBg01">
                    <div class="sectArea">
                        <div class="comTitH2 bk lg">
                            <h2>Boat racing is a <b>public service</b> that returns all of its profits to society.</h2>
                        </div>
                        <div class="comBasicTxt">
                            <p class="txt">It is a public service project that returns all proceeds, after deducting customer refunds and statutory taxes, as well as all remaining revenue excluding event operation costs, to society through initiatives such as the National Sports Promotion Fund and local government financial support.</p>
                        </div>
                        <div class="comImgBox">
                            <div class="imgWrap"><img src="../../images/contents/cont01_01_01_01_002.png" alt="Graph of Revenue Allocation Details Below"></div>
                        </div>
                        <div class="comBasicList">
                            <ul class="listGroup">
                                <li class="item"><b>72% of total bets are paid out as winnings to customers</b> with correct predictions. <b>16% is allocated to taxes, including leisure tax, education tax, and agricultural and fisheries development tax, supporting both national and local finances</b>.</li>
                                <li class="item"><b>12%, after event costs are deducted, funds the National Sports Promotion Fund, arts and culture funds, and youth development projects</b>, contributing to the wellbeing and happiness of citizens.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
				<div class="layoutContArea">

					<div class="cptSection">
                        <div class="sectArea">
                            <div class="comTitH2 bk lg">
                                <h2><b>Beginning of Boat Racing</b> for Fun</h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">In Korea, the Act on Track Cycling and Boat Racing was enacted by the National Assembly in December 1991. After over four years of preparation, the nation&rsquo;s first boat racing business was launched in June 2002 at Misa Motorboat Racing Park.</p>
                            </div>

                            <div class="comTitH2">
                                <h2>History of Boat Racing</h2>
                            </div>
                            <div class="comBasicTxt">
                                <p class="txt">In 1885, in Germany, a 1.5-horsepower gasoline engine was mounted on a boat to allow it to run. In Japan, the first motorboat was produced in 1911 by the Ishikawa Shipyard.</p>
                            </div>

                            <div class="comTitH3">
                                <h3>The First Motorboat Race</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">The first motorboat race was an international race held in the United Kingdom in 1904. The following year, in 1905, the 1st Gold Cup, considered the World Championship of Motorboat Racing, was held in the United States.</p>
                            </div>
                            <div class="comTitH3">
                                <h3>Boat Racing in Japan</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">In Japan, boating races officially began in April 1952 at Omura BOAT RACE stadium in Nagasaki Prefecture and have continued to be held since then.<br/> The supervising authority for boat racing in Japan is the Ministry of Land, Infrastructure, Transport, and Tourism. The races are organised by 46 entities, including local governments, while 19 motorboat race associations are responsible for operating the races. The nationwide federation of motorboat racing associations handles the training and management of athletes.<br/> There are approximately 1,600 registered athletes, including men and women, and many fall within the 40 to 50-year-old age group.</p>
                            </div>
                            <div class="comTitH3">
                                <h3>The Beginning of Boat Racing in Korea</h3>
                            </div>
                            <div class="comBasicTxt space">
                                <p class="txt">In Korea, the Act on Track Cycling and Boat Racing was enacted by the National Assembly in December 1991. After over four years of preparation, the nation&rsquo;s first boat racing business was launched in June 2002 at Misa Motorboat Racing Park.</p>
                            </div>
						</div>
					</div>

                </div>
                <!-- // layoutContArea -->
				
				<!-- //서브 컨텐츠 내용이 들어오는 영역-->
				
			</div>
			<!-- //서브 콘텐츠 영역 -->

		</div>
		<!-- //중단영역 -->

		<!-- 하단영역 -->
		<div class="layoutFooter">
			<!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>