<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KBOAT Racing",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Boating','Boat Racer','Prize Money Information'],
                    subTitle: 'Overall Prize Money Ranking',
                    subText: 'We provide year-by-year data on <br>the <b>total prize money rankings</b> of boat racers.',
					url: "../../",
                    visualClass: "bg03",
				}) %>
                

                <div class="layoutContArea">

					<div class="cptSection">
						<div class="sectArea">
							<div class="comTitH2 mRow">
								<h2>Prize Money Rankings</h2>
								<div class="right">
									<div class="frmBox">
										<select class="iptSlt">
											<option value="">2024</option>
											<option value="">Dropdown</option>
										</select>
									</div>
								</div>
							</div>

							<div class="comDataTable">
								<div class="tableArea">
									<table>
										<thead>
											<tr>
                                                <th>Ranking</th>
                                                <th>Athlete Name</th>
                                                <th>Date of Birth</th>
                                                <th>Hometown</th>
                                                <th>Prize Money</th>
                                                <th>Number of Participations</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Lim Chae-bin</a></td>
                                                <td>1982</td>
                                                <td>Gyeonggi</td>
                                                <td>88,705,000</td>
                                                <td>54</td>
											</tr>
											<tr >
												<td>2</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Jeong Jong-jin</a></td>
                                                <td>1982</td>
                                                <td>Gyeonggi</td>
                                                <td>88,705,000</td>
                                                <td>54</td>
											</tr>
											<tr>
												<td>3</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Ryu Jae-yeol</a></td>
                                                <td>1982</td>
                                                <td>Gyeonggi</td>
                                                <td>88,705,000</td>
                                                <td>54</td>
											</tr>
											<tr >
												<td>4</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Yang Seung-won</a></td>
                                                <td>1982</td>
                                                <td>Gyeonggi</td>
                                                <td>88,705,000</td>
                                                <td>54</td>
											</tr>
											<tr>
												<td>5</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Gong Tae-min</a></td>
                                                <td>1982</td>
                                                <td>Gyeonggi</td>
                                                <td>88,705,000</td>
                                                <td>54</td>
											</tr>
											<tr >
												<td>6</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Shin Eun-seop</a></td>
                                                <td>1982</td>
                                                <td>Gyeonggi</td>
                                                <td>88,705,000</td>
                                                <td>54</td>
											</tr>
											<tr>
												<td>7</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Hwang Seung-ho</a></td>
                                                <td>1982</td>
                                                <td>Gyeonggi</td>
                                                <td>88,705,000</td>
                                                <td>54</td>
											</tr>
											<tr >
												<td>8</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Hwang In-hyuk</a></td>
                                                <td>1982</td>
                                                <td>Gyeonggi</td>
                                                <td>88,705,000</td>
                                                <td>54</td>
											</tr>
											<tr>
												<td>9</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Park Jin-young</a></td>
                                                <td>1982</td>
                                                <td>Gyeonggi</td>
                                                <td>88,705,000</td>
                                                <td>54</td>
											</tr>
											<tr >
												<td>10</td>
												<td><a href="#" class="player" onclick="openPopup('playerData01')">Park Kyung-ho</a></td>
                                                <td>1982</td>
                                                <td>Gyeonggi</td>
                                                <td>88,705,000</td>
                                                <td>54</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
					
							<!-- 페이징 -->
							<div class="comPaging">
								<a class="start" href="#"></a>
								<a class="prev" href="#"></a>
								<ul class="numList">
									<li><a href="#">1</a></li>
									<li class="on"><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
								</ul>
								<a class="next" href="#"></a>
								<a class="end" href="#"></a>
							</div>
                        </div>
                    </div>
					
                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>