<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KBOAT Racing",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Boating','Boat Racer'],
                    subTitle: 'Racer Performance Comparison',
                    subText: '<b>Search for the athlete you would like to compare</b><br/>and see the results.',
					url: "../../",
                    visualClass: "bg03",
				}) %>
                

                <div class="layoutContArea">
                    
                    <div class="cptCompareData">
                        <div class="sectArea">
                            <div class="alertArea">
                                <p class="txt">Select a comparison athlete<br class="mView"/>to evaluate their head-to-head record.</p>
                                <div class="comBtnGroup">
                                    <div class="alignC">
                                        <div class="btnBox min">
                                            <button type="button"class="btn Primary">Compare Athlete Records Again</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="comTitH2">
                                <h2>Head-to-Head Record Comparison</h2>
                                <div class="right">
                                    <div class="frmBox">
                                        <select class="iptSlt">
                                            <option value="">2024년</option>
                                            <option value="">2023년</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="compareBox">
                                <ul class="cpList">
                                    <li class="cpItem">
                                        <div class="thumArea"><img src="../../images/thum/thum_compare01.png" alt="Example image of Kang Dong-gook's record comparison"></div>
                                        <div class="txtArea"><b class="name">Kang Dong-gook</b><div class="cateGroup"><span class="cate blue">A1</span> <span class="cate">Generation 06</span></div>
                                        </div>
                                    </li>
                                    <li class="cpItem">
                                        <div class="thumArea"><img src="../../images/thum/thum_compare01.png" alt="Example image of Kang Dong-gook's record comparison"></div>
                                        <div class="txtArea"><b class="name">Kang Dong-gook</b><div class="cateGroup"><span class="cate blue">A1</span> <span class="cate">Generation 06</span></div>
                                        </div>
                                    </li>
                                    <li class="cpItem">
                                        <div class="thumArea"><img src="../../images/thum/thum_compare01.png" alt="Example image of Kang Dong-gook's record comparison"></div>
                                        <div class="txtArea"><b class="name">Kang Dong-gook</b><div class="cateGroup"><span class="cate blue">A1</span> <span class="cate">Generation 06</span></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="comTitH3">
                                <h3>Race Performance Comparison</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Athlete Name</th>
                                                <th>Kang Dong-gook</th>
                                                <th>Kang Dong-gyu</th>
                                                <th>Kang Dong-jin</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Grade Information</th>
                                                <td>A1</td>
                                                <td>S1</td>
                                                <td>B1</td>
                                            </tr>
                                            <tr>
                                                <th>Winning Percentage (%)</th>
                                                <td>5</td>
                                                <td>30</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <th>Top Two Percentage (%)</th>
                                                <td>0</td>
                                                <td>10</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <th>Top Three Percentage (%)</th>
                                                <td>1</td>
                                                <td>15</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th>Number of Participations</th>
                                                <td>10</td>
                                                <td>15</td>
                                                <td>10</td>
                                            </tr>
                                            <tr>
                                                <th>Number of Competition Days</th>
                                                <td>30</td>
                                                <td>40</td>
                                                <td>30</td>
                                            </tr>
                                            <tr>
                                                <th>Average Placing Points Over the Last 6 Races</th>
                                                <td>3.67</td>
                                                <td>-</td>
                                                <td>5.72</td>
                                            </tr>
                                            <tr>
                                                <th>Average Score Over the Last 6 Races</th>
                                                <td>3.67</td>
                                                <td>-</td>
                                                <td>5.72</td>
                                            </tr>
                                            <tr>
                                                <th>Average ST/OST Over the Last 6 Races</th>
                                                <td>3.67</td>
                                                <td>-</td>
                                                <td>5.72</td>
                                            </tr>
                                            <tr>
                                                <th>Average Placing Points</th>
                                                <td>3.67</td>
                                                <td>-</td>
                                                <td>5.72</td>
                                            </tr>
                                            <tr>
                                                <th>Average ST/OST</th>
                                                <td>0.25 / 18.27</td>
                                                <td>-</td>
                                                <td>0.24 / 18.06</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <div class="comTitH3">
                                <h3>Head-to-Head Results</h3>
                            </div>

                            <div class="comDataTable both">
                                <div class="tableArea sizeM" style="height: 590px;">
                                    <table>
                                        <caption></caption>
                                        <colgroup>
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                            <col style="width:25%;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Race Session</th>
                                                <th>Athlete 1 (Placing)</th>
                                                <th>Athlete 2 (Placing)</th>
                                                <th>Athlete 3 (Placing)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20)</button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td><span class="rating red">Kang Dong-gyu (1)</span></td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20)</button> </th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td><span class="rating blue">Kang Dong-gyu (2)</span></td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td><span class="rating mint">Kang Dong-gyu (3)</span></td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                            <tr>
                                                <th><button type="button" class="txtBtn" onclick="openPopup('raceResult01')">10th Race on Day 2 of the 28th Racing Series in Changwon (2022.07.20) </button></th>
                                                <td>Kang Dong-gook (6)</td>
                                                <td>-</td>
                                                <td>Kang Dong-jin (5)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 경주결과 팝업 -->
                    <div id="raceResult01" class="modPopup lg"> <!-- class - on : 팝업오픈, md : middle,  lg : large -->
                        <div class="popupDim">Dim Area</div>
                        <div class="popupArea"> <!-- style - 너비값(width), 높이값(height) : 팝업 너비 및 높이 지정 -->
                            <div class="popupInMotion">
                                <div class="popupContainer">
                                    <div class="popupContArea">
                                        <button type="button"class="btnPopClose" onclick="closePopup('raceResult01');">Close</button>
                                        <div class="popTitle">Race Results</div>
                                        <div class="popCont">
                                            <!-- 팝업 컨텐츠 영역 -->
                                            <div class="cptSection">
                                                <div class="sectArea">
                                                    <div class="comTitH2 mRow">
                                                        <h2>Race 06 (Start Time: 11:40)</h2>
                                                        <p class="etcAdds">22 August 2024, 34th Race, Day 2</p>
                                                    </div>

                                                    <div class="comDataTable">
                                                        <div class="tableArea sizeM">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width:auto;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Race Type</th>
                                                                        <th>Race Grade</th>
                                                                        <th>Start Time</th>
                                                                        <th>Distance</th>
                                                                        <th>Race Situation</th>
                                                                        <th>Remarks</th>
                                                                        <th>Results</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Title Race</td>
                                                                        <td>Standard</td>
                                                                        <td>11:40</td>
                                                                        <td>1200m</td>
                                                                        <td>Established</td>
                                                                        <td>-</td>
                                                                        <td>Confirmed</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comDataTable">
                                                        <div class="tableArea sizeM">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width:auto;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                    <col style="width:14.2857%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Weather</th>
                                                                        <th>Temperature</th>
                                                                        <th>Wind Direction</th>
                                                                        <th>Wind Speed</th>
                                                                        <th>Humidity</th>
                                                                        <th>Water Temperature</th>
                                                                        <th>Water Level</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Rain</td>
                                                                        <td>32℃</td>
                                                                        <td>East</td>
                                                                        <td>4㎧</td>
                                                                        <td>76%</td>
                                                                        <td>30℃</td>
                                                                        <td>249㎝</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comDataTable">
                                                        <div class="tableArea">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width:auto;">
                                                                    <col style="width:33.3333%;">
                                                                    <col style="width:33.3333%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>1st Lap</th>
                                                                        <th>2nd Lap</th>
                                                                        <th>3rd Lap</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>0:37.85</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comTitH3">
                                                        <h3>Racing Videos</h3>
                                                    </div>
                                                    
                                                    <div class="comMovieBox">
                                                        <div class="boxArea">
                                                            <ul class="movieList">
                                                                <li class="movieItem"><a href="#" target="_blank" title="Open in a New Window">Watch Full Race Video</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="comTitH3 mRow">
                                                        <h3>Placement</h3>
                                                    </div>

                                                    <div class="comDataTable both">
                                                        <div class="tableArea sizeM">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                    <col style="width:auto;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Placement</th>
                                                                        <th>Athlete Information</th>
                                                                        <th>Motor</th>
                                                                        <th>Boat</th>
                                                                        <th>Introduction Run</th>
                                                                        <th>Entry Course</th>
                                                                        <th>ST</th>
                                                                        <th>Run Time</th>
                                                                        <th>Violations</th>
                                                                        <th>Tilt Angle</th>
                                                                        <th>Strategy</th>
                                                                        <th>Remarks</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>1</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num01">1</span><a href="#none" class="player">Kim Sang-in</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>Sweeping</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>2</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num02">2</span><a href="#none" class="player">Kang Dong-jin</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>Sweeping</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>3</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num03">3</span><a href="#none" class="player">Kim Gwang-jin</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>Sweeping</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>4</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num04">4</span><a href="#none" class="player">Gwak Hoon-shin</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>Sweeping</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>5</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num05">5</span><a href="#none" class="player">Jeong Eon-yeol</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>Sweeping</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>6</th>
                                                                        <td>
                                                                            <div class="name"><span class="sign num06">6</span><a href="#none" class="player">Oh Sung-gyun</a></div>
                                                                        </td>
                                                                        <td>66</td>
                                                                        <td>102</td>
                                                                        <td>6.94</td>
                                                                        <td>2</td>
                                                                        <td>0.23</td>
                                                                        <td>1:16.785</td>
                                                                        <td>-</td>
                                                                        <td>+1.5</td>
                                                                        <td>Sweeping</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comTitH3">
                                                        <h3>Refereeing Decisions</h3>
                                                    </div>

                                                    <div class="comDataTable both colLineDel">
                                                        <div class="tableArea sizeM">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width: 11%;">
                                                                    <col style="width: 11%;">
                                                                    <col style="width: 11%;">
                                                                    <col style="width: 15%;">
                                                                    <col style="width: 11%;">
                                                                    <col style="width: auto;">
                                                                    <col style="width: 11%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Athlete</th>
                                                                        <th>Lap Count</th>
                                                                        <th>Location</th>
                                                                        <th>Applicable Article</th>
                                                                        <th>Judgement</th>
                                                                        <th>Judgement Details</th>
                                                                        <th>Accident Type</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>
                                                                            <div class="name"><span class="sign num01">1</span><a href="#" class="player">Kim Sang-in</a></div>
                                                                        </th>
                                                                        <td>1st Lap</td>
                                                                        <td>1st Turn Mark</td>
                                                                        <td>Article 60 (Prohibition of Contact)</td>
                                                                        <td>Warning</td>
                                                                        <td class="left">Steering failure and loss of speed during the first turn mark of the first lap caused obstruction to boats No. 4 and No. 6.</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <div class="comTitH3">
                                                        <h3>Payout Ratio Guide</h3>
                                                    </div>

                                                    <div class="comDataTable both">
                                                        <div class="tableArea">
                                                            <table>
                                                                <caption></caption>
                                                                <colgroup>
                                                                    <col style="width: 33.3333%;">
                                                                    <col style="width: 33.3333%;">
                                                                    <col style="width: 33.3333%;">
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th>Betting Type</th>
                                                                        <th>Winner</th>
                                                                        <th>Average Confirmed Payout Ratios</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>Win</th>
                                                                        <td><span class="sign num02">2</span></td>
                                                                        <td>1.3</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Place</th>
                                                                        <td><span class="sign num02">2</span></td>
                                                                        <td>1.0</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Place</th>
                                                                        <td><span class="sign num03">3</span></td>
                                                                        <td>2.1</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Reverse Forecast</th>
                                                                        <td><span class="sign num02">2</span> · <span class="sign num03">3</span></td>
                                                                        <td>2.6</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Straight Forecast</th>
                                                                        <td><span class="sign num02">2</span> · <span class="sign num03">3</span></td>
                                                                        <td>2.3</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Combination Tricast</th>
                                                                        <td><span class="sign num02">2</span> · <span class="sign num03">3</span> · <span class="sign num05">5</span></td>
                                                                        <td>4.2</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Banker Tricast</th>
                                                                        <td><span class="sign num02">2</span> · <span class="sign num03">3</span> · <span class="sign num05">5</span></td>
                                                                        <td>4.4</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Tricast</th>
                                                                        <td><span class="sign num02">2</span> · <span class="sign num03">3</span> · <span class="sign num05">5</span></td>
                                                                        <td>6.1</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- //팝업 컨텐츠 영역 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					
                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>