<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KBOAT Racing",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout eng">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Boating', 'Boat Racing Guide','Build Boat Racing Knowledge'],
                    subTitle: 'Refereeing Decisions',
                    subText: 'The eyes and ears for a fair race,<br/><b>Boat Racing Referee Decisions</b>',
					url: "../../",
                    visualClass: "bg03",
				}) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">To ensure fair competition, boat racing referees are required.</h2>
                        <p class="info">There are strict rules and referees to enforce them in boat racing to ensure fair competition. Learn more about the refereeing decisions in boat racing. </p>
                    </div>
                    
                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toMob">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button type="button" class="tabName on" title="Selected Tab Menu">Judging Criteria</button></li>
                                <li class="tabItem swiper-slide"><button type="button" class="tabName" title="Tab Menu">Start/Finish Decisions</button></li>
                                <li class="tabItem swiper-slide"><button type="button" class="tabName" title="Tab Menu">Referee Equipment</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button type="button" class="prev">Previous</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button type="button" class="next">Next</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"><!-- addClass - on : 컨텐츠 노출 -->
                                <!-- 탭 컨텐츠1 -->
                                <div class="cptContSlide">
                                    <div class="sectArea">
                                        <ul class="slideGroup">
                                            <li class="slideItem"> <!--class 'slideOn' : 슬라이드 OPEN-->
                                                <div class="contBox">
                                                    <button type="button" class="slideTit">
                                                        <h5 class="tit">Start Preparation <span class="mSm">(Article 53 of the Boat Racing Regulations)</span></h5>
                                                    </button>
                                                    <div class="slideCont">
                                                        <div class="paragraph">
                                                            <p class="basicTxt">A restart may be ordered if the head referee determines that there is a significant hindrance to the race.</p>
                                                            <ul class="basicList">
                                                                <li class="listItem">In online start races, competitors must secure their motorboats to the starting gate.</li>
                                                                <li class="listItem">In flying start races, competitors must leave the pit area and proceed to the waiting water.</li>
                                                            </ul>
                                                        </div>
                                                        
                                                        <div class="paragraph">
                                                            <ul class="imgList">
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_001.png" alt="Image of situation at the start pit (before starting)"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">01</span> <span class="txt">Situation at the Start Pit (Before Starting)</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">If a motorboat cannot leave the pit area promptly due to malfunctions such as mooring equipment failure</li>
                                                                            <li class="listItem">Online Start: Indicated as normal (green light) or restart (red light)</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_002.png" alt="Image of situation at the start pit (after starting)"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">02</span> <span class="txt">Situation at the Start Pit (After Starting)</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">If severe weather (strong winds) causes a motorboat to capsize, rendering it unable or difficult to continue navigating</li>
                                                                            <li class="listItem">The boat in question is excluded from the race, and a restart is declared</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_003.png" alt="Image of situation during standby manoeuvre"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">03</span> <span class="txt">Situation During Standby Manoeuvre</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">If a competitor damages a water facility (100m pole) during standby manoeuvre</li>
                                                                            <li class="listItem">The boat in question continues in the race without exclusion, and a restart is declared</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_004.png" alt="Image of situation during standby manoeuvre (before entry)"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">04</span> <span class="txt">Standby Manoeuvre (Before Entry)</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">If a motorboat stops and becomes inoperable due to engine failure or other reasons during standby manoeuvre (standby run, entry run)</li>
                                                                            <li class="listItem">The race is stopped, and a restart is declared</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="slideItem">
                                                <div class="contBox">
                                                    <button type="button" class="slideTit">
                                                        <h5 class="tit">Standby Manoeuvre&nbsp;<span class="mSm">(Article 55 of the Boat Racing Regulations)</span></h5>
                                                    </button>
                                                    <div class="slideCont">
                                                        <div class="paragraph">
                                                            <p class="basicTxt">Standby manoeuvre refers to all motorboat movements from leaving the pit area until crossing the starting line. This includes standby run and entry run.</p>
                                                            <ul class="basicList">
                                                                <li class="listItem"><span class="lineTit">Standby run:</span> <span class="lineTxt">Movement from the pit area to aligning directly in front of the starting line.</span></li>
                                                                <li class="listItem"><span class="lineTit">Entry run:</span> <span class="lineTxt">The movement immediately following the standby run until just before the start.</span></li>
                                                                <li class="listItem"><span class="lineTit">Violations During Standby Manoeuvre:</span> <span class="lineTxt">Examples include causing damage to another motorboat during standby manoeuvre.</span></li>
                                                            </ul>
                                                        </div>
                                                        
                                                        <div class="paragraph">
                                                            <ul class="imgList">
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_005.png" alt="Image of situation of start pit (hard over before starting)"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">01</span> <span class="txt">Start Pit (Hard Over Before Starting)</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">Hard over of the boat No. 1 before starting causes damage to boat No. 2</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_006.png" alt="Image of forcing inside during standby manoeuvre"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">02</span> <span class="txt">Forcing Inside During Standby Manoeuvre</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">Boat No. 2 forces boat No. 1 towards the inside during standby run, interfering its progress and causing damage</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_007.png" alt="Image of forcing outside during standby manoeuvre"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">03</span> <span class="txt">Forcing Outside During Standby Manoeuvre</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">Boat No. 2 forces boat No. 3 towards the outside during entry run of the standby phase, interfering its progress and causing damage</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_008.png" alt="Image of cutting-in during standby manoeuvre"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">04</span> <span class="txt">Cutting-In During Standby Manoeuvre</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">Boat No. 4 loses its course and cuts in during standby run</li>
                                                                        </ul>
                                                                        <div class="comAddGuide">
                                                                            <p class="guide">Applicable only to races with a course competition system</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="slideItem">
                                                <div class="contBox">
                                                    <button type="button" class="slideTit">
                                                        <h5 class="tit">Establishment of Start&nbsp;<span class="mSm">(Article 56 of the Boat Racing Regulations)</span></h5>
                                                    </button>
                                                    <div class="slideCont">
                                                        <div class="paragraph">
                                                            <p class="basicTxt">Standby manoeuvre refers to all motorboat movements from leaving the pit area until crossing the starting line. This includes standby run and entry run.</p>
                                                            <ul class="basicList">
                                                                <li class="listItem"><em>For online start races, the start is established when the mechanical devices at the starting gate release simultaneously, and the boats depart from the pit area. </em></li>
                                                                <li class="listItem"><em>The start for flying start races is judged based on the <span class="tKey">slit lines at the 0.0-second and 1.0-second marks</span>.</em></li>
                                                            </ul>
                                                            <ul class="dashList">
                                                                <div class="listItem"><span class="lineTit">False Start:</span> <span class="lineTxt">Occurs when crossing the starting line before the designated start time</span></div>
                                                                <div class="listItem"><span class="lineTit">Late Start:</span> <span class="lineTxt">Occurs when crossing the starting line more than 1.0 second after the designated start time</span></div>
                                                                <div class="listItem">Competitors with a false start or a late start are excluded from the race and will be suspended from competing for a specified period under Article 30 of the regulations</div>
                                                            </ul>
                                                        </div>
                                                        
                                                        <div class="paragraph">
                                                            <div class="imgWrap"><img src="../../images/contents/cont21_01_03_03_009.png" alt="Image of distinction between forcing outside, late start, false start, and validity at the starting line"></div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="slideItem">
                                                <div class="contBox">
                                                    <button type="button" class="slideTit">
                                                        <h5 class="tit">Confirmation of Finish and placings&nbsp;<span class="mSm">(Article 58 of the Boat Racing Regulations)</span></h5>
                                                    </button>
                                                    <div class="slideCont">
                                                        <div class="paragraph">
                                                            <p class="basicTxt">A finish is confirmed when a competitor crosses the finish line while riding their motorboat. The placings are determined in the <span class="tKey">order in which the front end of each motorboat crosses the finish line</span>.</p>
                                                            <ul class="basicList">
                                                                <li class="listItem">The referee confirms the finishing order. However, if there are changes to the placings under Article 57, the referee will amend the order and finalise the results. When finalising amended placings, the referee will announce the changes via a broadcast from the referee&apos;s room.</li>
                                                                <li class="listItem">All competitors must cross the finish line within 30 seconds of the time the leading competitor reaches the finish line. If the referee determines that a competitor is unable to finish within the 30-second limit, they may declare the competitor disqualified.</li>
                                                            </ul>
                                                        </div>
                                                        
                                                        <div class="paragraph">
                                                            <div class="imgWrap"><img src="../../images/contents/cont21_01_03_03_010.png" alt="Example image illustrating the finish line"></div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="slideItem">
                                                <div class="contBox">
                                                    <button type="button" class="slideTit">
                                                        <h5 class="tit">Prohibition of Contact <span class="mSm">(Article 60 of the Boat Racing Regulations)</span></h5>
                                                    </button>
                                                    <div class="slideCont">
                                                        <div class="paragraph">
                                                            <p class="basicTxt">Prohibition of contact refers to situations where, during straight run or turn-mark rotations, a motorboat loses speed or experiences similar issues, leading to a collision (contact) with another motorboat and causing damage.</p>
                                                            <ul class="basicList">
                                                                <li class="listItem"><span class="lineTit">Speed Loss: </span> <span class="lineTxt">It refers to a condition where the motorboat&rsquo;s speed drops significantly below normal levels due to cavitation, engine stop, or other factors. It also includes cases where a motorboat interferes with another motorboat due to capsizing, sinking, or falling water.</span></li>
                                                                <li class="listItem"><span class="lineTit">Collision:</span> <span class="lineTxt">It refers to a contact with another motorboat within a distance where avoidance was possible.</span></li>
                                                            </ul>
                                                        </div>
                                                        
                                                        <div class="paragraph">
                                                            <ul class="imgList">
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_011.png" alt="Image of speed loss situation"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">01</span> <span class="txt">Speed Loss Situation</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">During a turn-mark rotation, boat No. 1 loses speed due to hard over failure, causing damage to boats No. 6 and 5</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_012.png" alt="Image of poor course selection and speed management"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">02</span> <span class="txt">Poor Course Selection and Speed Management</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">During a turn-mark rotation, boat No. 4 causes damage to boat No. 6 by obstructing its path through improper course selection and speed management</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="slideItem">
                                                <div class="contBox">
                                                    <button type="button" class="slideTit">
                                                        <h5 class="tit">Change of Direction <span class="mSm">(Article 62 of the Boat Racing Regulations)</span></h5>
                                                    </button>
                                                    <div class="slideCont">
                                                        <div class="paragraph">
                                                            <p class="basicTxt">A change of direction occurs when two or more motorboats *approach and run side by side, and one motorboat changes direction laterally, obstructing the path or causing damage to another motorboat.</p>
                                                            <div class="imgWrap"><img src="../../images/contents/cont21_01_03_03_013.png" alt="Example image illustrating the finish line"></div>
                                                        </div>
                                                        
                                                        <div class="paragraph">
                                                            <ul class="basicList">
                                                                <li class="listItem"><span class="sTit">Violations Related to Directional Changes</span> <span class="sTxt">All competitors must finish within 30 seconds of the time the leading competitor crosses the finish line. If the referee judges that a competitor cannot complete the race within the 30-second limit, they may declare a disqualification. </span></li>
                                                            </ul>
                                                            <ul class="imgList">
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_014.png" alt="Image of zigzagging (course change) situation"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">01</span> <span class="txt">Zigzagging (Course Change) Situation</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">On a straight path, boat No. 1 zigzags, obstructing the progress of boat No. 6 and causing damage</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_015.png" alt="Image of forcing outside situation"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">02</span> <span class="txt">Forcing Outside Situation</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">On a straight course, boat No. 4 forces boat No. 3, which was running parallel, towards the outside, interfering its progress and causing damage</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="slideItem">
                                                <div class="contBox">
                                                    <button type="button" class="slideTit">
                                                        <h5 class="tit">Turn-Mark Rotation <span class="mSm">(Article 63 of the Boat Racing Regulations)</span></h5>
                                                    </button>
                                                    <div class="slideCont">
                                                        <div class="paragraph">
                                                            <p class="basicTxt">To rotate around the turn-mark means that the centre of the motorboat must turn around the centre of the turn-mark. The motorboat must rotate around the turn-mark in an anticlockwise direction. When two or more motorboats are turning the turn-mark simultaneously, the motorboat on the outside must provide a safe space for the motorboat on the inside.</p>
                                                            <div class="imgWrap"><img src="../../images/contents/cont21_01_03_03_016.png" alt="Image of turn-mark rotation situation"></div>
                                                            <ul class="basicList">
                                                                <li class="listItem">During a rotation, boat No. 1 hits the turn-mark and causes damage to boats No. 3, 5, and 4</li>
                                                                <li class="listItem"><span class="lineTit">Examples of Violation Cases:</span> <span class="lineTxt">When an inner motorboat presses against an outer motorboat due to hard over failure, or when an outer motorboat pressures an inner motorboat, causing damage during turn-mark rotation</span></li>
                                                            </ul>
                                                            <ul class="imgList">
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_017.png" alt="Image of forcing outside situation"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">01</span> <span class="txt">Forcing Outside Situation</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">During a turn-mark rotation, Boat No. 3 forces boats No. 4 and 5 towards the outside, interfering their progress and causing damage</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_018.png" alt="Image of forcing inside situation"></div>
                                                                    <div class="txtArea">
                                                                        <div class="imgTit"><span class="num">02</span> <span class="txt">Forcing Inside Situation</span></div>
                                                                        <ul class="basicList">
                                                                            <li class="listItem">During a turn-mark rotation, Boat No. 4 forces boat No. 6 towards the inside, interfering its progress and causing damage</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </ul>

                                                        </div>                                                        
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="slideItem">
                                                <div class="contBox">
                                                    <button type="button" class="slideTit">
                                                        <h5 class="tit">In Case of Rescue Boats and Accident Boats <span class="mSm">(Article 65, Paragraphs 2 and 3 of the Boat Racing Regulations)</span></h5>
                                                    </button>
                                                    <div class="slideCont">
                                                        <div class="paragraph">
                                                            <p class="basicTxt">Accident Boat</p>
                                                            <ul class="basicList">
                                                                <li class="listItem">An accident boat refers to a motorboat that cannot continue to race normally due to capsizing, sinking, malfunction, athlete injury, or falling into the water during the race.</li>
                                                            </ul>
                                                        </div>   
                                                        <div class="paragraph">
                                                            <p class="basicTxt">If there is a rescue boat or an accident boat near the turn-mark</p>
                                                            <ul class="basicList">
                                                                <li class="listItem">The motorboat must navigate outside the rescue boat or accident boat. However, if there is no safe distance on the outside, the motorboat must navigate according to the judge&apos;s instructions.</li>
                                                            </ul>
                                                        </div>
                                                        <div class="paragraph">
                                                            <p class="basicTxt">Violation cases when there are rescue boats or accident boats</p>
                                                            <ul class="basicList">
                                                                <li class="listItem">When a motorboat fails to maintain a safe distance from the rescue boat or accident boat</li>
                                                                <li class="listItem">When a motorboat navigates inside when it should be outside the rescue boat or accident boat near the turn-mark</li>
                                                                <li class="listItem">Or when a motorboat navigates outside when it should be inside the rescue boat or accident boat</li>
                                                                <li class="listItem">Any other actions that disrupt the fair and safe conducting of the race</li>
                                                            </ul>

                                                            <ul class="imgList">
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_019.png" alt="Example images of danger zones and contested zones"></div>
                                                                    <div class="txtArea">
                                                                        <ul class="basicList">
                                                                            <li class="listItem">In the event of an accident boat, the area where the accident occurs is designated as a danger zone, centred around the centre pole, while the area without an accident boat is considered the contested zone. In the danger area, no position changes are allowed, and proper distance must be maintained while navigating.</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                                <li class="imgItem">
                                                                    <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_020.png" alt="Example images of violations of safe navigation"></div>
                                                                    <div class="txtArea">
                                                                        <ul class="basicList">
                                                                            <li class="listItem">When entering the danger zone side by side, it is the principle that the inside motorboat leads. However, if the centreline of the front and rear end of the outside motorboat is ahead of the inside motorboat, the outside motorboat is considered the lead motorboat.</li>
                                                                        </ul>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="paragraph">
                                                            <p class="basicTxt">Rules for safe racing in the accident area</p>
                                                            <ul class="basicList">
                                                                <li class="listItem">In situations where the racing motorboat is put in a disadvantageous situation due to the navigation and rescue operations of the rescue boat, the athlete has no right to dispute. Additionally, if the lead boat is overtaken by others at the accident point, causing a change in placing, the change in order will be recognised. However, strict penalties for the violation will be enforced, and separate sanctions will be applied to the athlete in accordance with the athlete penalty guidelines.</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠2 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Referees&rsquo; Room</h2>
                                        </div>
                                        <div class="comBasicTxt">
                                            <p class="txt">The referees&rsquo; room is located at the highest point in the central stand, overlooking the course. Decisions on start judgements, disqualifications, race violations, and placing judgements are made in the judges&rsquo; room.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Start Judgement</h2>
                                        </div>
                                        <div class="comBasicTxt">
                                            <p class="txt">For start and placing judgements in a motorboat race, line-scan cameras are used to capture and record the moving objects (motorboats). The start judgement is photographed at intervals of 1/2000th of a second, from 1 second before to 2 seconds after the start time.</p>
                                        </div>
                                        <div class="comImgWrap col3">
                                            <div class="imgGroup">
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_021.png" alt="Normal Start Photo"><p class="imgTxt center"><b>Normal Start Photo</b></p>
                                                </div>
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_022.png" alt="False Start (F) Photo"><p class="imgTxt center"><b>False Start (F) Photo</b></p>
                                                </div>
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_023.png" alt="Late Start (L) Photo"><p class="imgTxt center"><b>Late Start (L) Photo</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Placing Judgement</h2>
                                        </div>
                                        <div class="comBasicTxt">
                                            <p class="txt">Placing judgement is recorded in 1/2000th of a second intervals from when the first place motorboat crosses the finish line until the last motorboat crosses the finish line, and placing videos are displayed on the scoreboard if necessary.</p>
                                        </div>
                                        <div class="comImgWrap col3">
                                            <div class="imgGroup">
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_024.png" alt="Placing Photo"><p class="imgTxt center"><b>Placing Photo</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠3 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Status of Referees&apos; Equipment by Location</h2>
                                        </div>
                                        <div class="comImgWrap">
                                            <div class="imgGroup">
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_025.png" alt="Location of referees’ equipment / Central Referees’ Room, 2nd Corner, Starting Platform, 1st Corner"></div>
                                            </div>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>Central Referees&apos; Room</h3>
                                        </div>
                                        
                                        <div class="comBasicTxt space">
                                            <p class="txt">Automated race control equipment, head referee control system, assistant referee control system, flying start judgement equipment, placing judgement equipment, large clock control system, introduction run measuring system, race count system, display control system, race progress monitoring system, referee-exclusive camera control system, operation facilities, detection facilities, and automated control equipment</p>
                                        </div>
                                        <div class="comTitH3">
                                            <h3>Starting Platform</h3>
                                        </div>
                                        
                                        <div class="comBasicTxt space">
                                            <p class="txt"> Large clock, checker light, three-colour signal light, disqualification, withdrawal display light, and night race LED lighting system</p>
                                        </div>
                                        <div class="comTitH3">
                                            <h3>Signal Equipment at 1st and 2nd Corners</h3>
                                        </div>
                                        
                                        <div class="comBasicTxt space">
                                            <p class="txt"> Normal start display light, danger signal light, navigation instruction light, and referee-exclusive camera</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Introduction Run Automated Measurement Equipment</h2>
                                        </div>
                                        <div class="comBasicTxt">
                                            <p class="txt">The introduction run automated measurement equipment operates by using laser sensors to measure a straight 150m distance, set between the central referees&apos; room and the 2nd corner referees&apos; tower. When a motorboat passes through, the equipment detects the boat and records the time.</p>
                                        </div>
                                        <div class="comImgWrap">
                                            <div class="imgGroup">
                                                <div class="imgArea"><img class="pcView" src="../../images/contents/cont21_01_03_03_026.png" alt="Sketch Map of the Introduction Course Automated Measurement Equipment"> <img class="mView" src="../../images/contents/cont21_01_03_03_026_m.png" alt="Sketch Map of the Introduction Course Automated Measurement Equipment"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Flying and Placing Judgement Equipment</h2>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>Function of Flying Judgement Equipment</h3>
                                        </div>
                                        
                                        <div class="comBasicTxt space">
                                            <p class="txt">The flying judgement equipment detects violations of the start procedure by using a line-scan camera. It captures images of motorboats immediately after they pass the start line upon completing standby manoeuvre. The equipment determines violations and records start times, which are displayed. <br/> The camera captures for a duration of <em>3 seconds, starting 1 second before the designated time, based on signals from the large clock</em>.</p>
                                        </div>

                                        <div class="comImgWrap">
                                            <div class="imgGroup">
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_027.png" alt="Image displayed by flying equipment"></div>
                                            </div>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>Function of placing Judgement Equipment</h3>
                                        </div>
                                        
                                        <div class="comBasicTxt space">
                                            <p class="txt">The placing judgement equipment verifies and publishes the race order, race records, and placing results table using images captured by a line-scan camera when motorboats cross the finish line. It operates continuously from the time <em>the first place motorboat approaches the finish line until the last motorboat crosses it, recording at 1/2000th of a second intervals</em>.</p>
                                        </div>

                                        <div class="comImgWrap">
                                            <div class="imgGroup">
                                                <div class="imgArea"><img src="../../images/contents/cont21_01_03_03_028.png" alt="Placing image displayed by placing judgement equipment"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptEtcInfo">
                                    <div class="infoBox">
                                        <dl class="info">
                                            <dt><em class="tit">Principle of the Line-Scan Camera</em></dt>
                                            <dd>
                                                <div class="infoList">
                                                    <ul class="listGroup">
                                                        <li class="item">The flying and placing judgement camera (line-scan camera) is a specialised camera that, unlike a standard camera with a shutter, uses a slit (narrow opening) to scan the start and finish lines line by line, capturing and recording moving objects. It continuously captures only the start and finish lines to create a single image, meaning all the images depict the moment the object passes the start or finish line, thereby representing the start or finish line itself.</li>
                                                        <li class="item"><em>Line-scan cameras are also used in other racing sports, such as horse racing, cycling, and athletics, to record finish-line scenes.</em></li>
                                                    </ul>
                                                </div> 
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>