<!-- Header -->
<%- include('../_ejs/top.ejs', {
	title: "KBOAT Racing",
	url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs_eng/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs_eng/sub_top.ejs', {
                    location: ['K-Boating', 'Boat Racing Guide','Understanding Boat Racing'],
                    subTitle: 'Basic Information on Cycle Racing',
                    subText: '<b>Are you new</b> to boat racing?<br>Let&rsquo;s learn about it together.',
					url: "../../",
                    visualClass: "bg03",
				}) %>

                <div class="layoutContArea">
                    
                    <div class="comSubInfo">
                        <h2 class="infoTit">Let&rsquo;s explore the fundamental information about boat racing to enjoy its unique thrill and charm.</h2>
                        <p class="info">Thrilling races await spectators at the boating stadium. By learning basic information about boat racing, you can enjoy it even more.</p>
                    </div>


                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toTab">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button type="button"class="tabName on" title="Selected Tab Menu">Introduction to Boat Racing</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button type="button"class="tabName" title="Tab Menu">Race Score</button></li>
                                <li class="tabItem swiper-slide"><button type="button"class="tabName" title="Tab Menu">Winning Percentage·Top Two Percentage·Top Three Percentage</button></li>
                                <li class="tabItem swiper-slide"><button type="button"class="tabName" title="Tab Menu">Tilt Angle</button></li>
                                <li class="tabItem swiper-slide"><button type="button"class="tabName" title="Tab Menu">Betting Types</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button type="button"class="prev">Previous</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button type="button"class="next">Next</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"><!-- addClass - on : 컨텐츠 노출 -->
                                <!-- 탭 컨텐츠1 -->
                                <div class="cptStepLine">
                                    <div class="sectArea">
                                        <ul class="stepGroup">
                                            <li class="stepItem">
                                                <h2 class="stepTit"><span class="num">01</span><p class="tit">Operation of Boating Races</p>
                                                </h2>
                                                <div class="stepCont">
                                                    <p class="txt">The KCYCLE and KBOAT Headquarters under the Korea Sports Promotion Foundation organises boating races every year based on Article 4 of the Track Cycling and Boat Racing Act and Chapter 2 of the Boat Racing Regulations. An annual race schedule is planned, approved by the Minister of Culture, Sports, and Tourism, and detailed internal plans are created accordingly.</p>
                                                    <h3 class="subTit">2024 Race Operation Plan</h3>
                                                    <ul class="listGroup contTit">
                                                        <li class="item"><em class="tit">Venue: </em> <span> Misa Motorboat Racing Park (505 Misadaero, Hanam-si, Gyeonggi-do)</span></li>
                                                        <li class="item"><em class="tit">Period:</em> <span> 2024. 1. 3. - 12. 26 (held on Wednesdays and Thursdays, among others)</span></li>
                                                        <li class="item"><em class="tit">Number of Race Days: </em><span>A total of 51 times within 105 days, a total of 2,100 races (20 races per day)</span></li>
                                                        <li class="item"><em class="tit">Betting Types: </em> <span>Win, Place, Reverse Forecast, Straight Forecast, Combination Tricast, Tricast, Banker Tricast<br/> * Seven basic betting options, operated flexibly based on attendance restrictions and sales analysis</span></li>
                                                        <li class="item"><em class="tit">Types of Races: </em> <span>Flying Start Races and Online Start Races</span></li>
                                                        <li class="item"><em class="tit">Race Distance: </em> <span>Flying Start: 1,200m (2 laps) / 1,800m (3 laps) / Online Start: 935m (1 lap) / 1,535m (2 laps)</span></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="stepItem">
                                                <h2 class="stepTit"><span class="num">02</span><p class="tit">Race Composition System</p>
                                                </h2>
                                                <div class="stepCont">
                                                    <h3 class="subTit">Athlete Assignment</h3>
                                                    <ul class="listGroup">
                                                        <li class="item">In general boat racing, athletes are assigned according to their rankings, ranging from A1 to B2. In title races, athletes are assigned based on factors such as tournament progression, customer votes, top earnings, or outstanding performance.</li>
                                                        <li class="item">Athlete assignments for each race grade are determined based on performance over a specific period. Assigned athletes are obligated to participate in the race unless excused by valid reasons such as family events, natural disasters, or other disqualifications specified in Articles 10 and 13 of the Boat Racing Regulations.</li>
                                                    </ul>
                                                    <h3 class="subTit">Race Scheduling</h3>
                                                    <ul class="listGroup">
                                                        <li class="item">Regular races are organised as individual matchups. Title and Grand Prix races are arranged as both individual matchups and tournaments.</li>
                                                        <li class="item">In tournaments, the results of Day 1 races influence participation in Day 2 races.</li>
                                                        <li class="item">Scheduling considers factors such as athlete performance, personal profiles, motor and boat performance, and customer preferences.</li>
                                                        <li class="item">When two or more athletes are assigned to the same lane by the random draw, preference is given to athletes with superior performance. For the finals of title races, course selections are allocated to athletes in descending order based on criteria such as performance and earnings rankings.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="stepItem">
                                                <h2 class="stepTit"><span class="num">03</span><p class="tit">Support and Management of Boat Racing Athletes</p>
                                                </h2>
                                                <div class="stepCont">
                                                    <p class="txt">The KCYCLE and KBOAT Headquarters ensures that athletes staying at the athlete&rsquo;s dormitory for race participation can focus entirely on their events in a comfortable environment. Surrounding environments and internal facilities are continually improved.</p>

                                                    <h3 class="subTit">Race Coordination and Athlete Guidance</h3>
                                                    <ul class="listGroup">
                                                        <li class="item">Athletes participating in races undergo physical examinations and consultations with doctors to confirm their eligibility for competition. After receiving assigned motors and boats, they conduct designated practice sessions and complete a confirmation inspection.</li>
                                                        <li class="item">On race days, athletes undergo uniform inspections, are informed of announcements, and receive training sessions post-race. These sessions focus on referee judgements and improving athletes&rsquo; performance.</li>
                                                    </ul>
                                                    <h3 class="subTit">Safety Gear for Races</h3>
                                                    <ul class="listGroup">
                                                        <li class="item">Since boating races pose significant risk, athletes are required to wear safety equipment to protect their bodies and lives.</li>
                                                        <li class="item">Safety gear is procured annually and distributed to athletes for use during competitions.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="stepItem">
                                                <h2 class="stepTit"><span class="num">04</span><p class="tit">Race Motors and Boats Management</p>
                                                </h2>
                                                <div class="stepCont">
                                                    <ul class="listGroup">
                                                        <li class="item">The KCYCLE and KBOAT Headquarters secures and maintains race motors and boats to ensure smooth operation.<br/> <span class="adds">Ordering motors and boats, along with testing prototypes and conducting inspections, inspecting and testing six trial boats, securing new boats<br/> Ensuring uniform motor performance,maintaining consistency in boat weights, monitoring storage, controlling entries and exits, and keeping detailed records</span></li>
                                                        <li class="item">Maintenance of race boats includes pre-inspection maintenance by professional maintenance staff and general maintenance performed by the racers.</li>
                                                        <li class="item">The maintenance staff repair the boats and carry out precise inspections and maintenance on motors with defects or malfunctions, while the racers disassemble, assemble, and inspect the motors themselves.</li>
                                                        <li class="item">Additionally, race boats are managed safely through confirmation inspections, pre-race inspections, pre-start inspections, post-race inspections (return inspections), and re-inspections.</li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- //탭 컨텐츠1 -->
                            </div>
                            <div class="tabCont"> <!-- addClass - on : 컨텐츠 노출 -->
                                <!-- 탭 컨텐츠 2 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Placing Points</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">Placing points are awarded based on the order of finishing a race. The points are allocated differently depending on the race grade as shown below. <br/> In the event of a tie judgement, all athletes are awarded the corresponding placing points.</p>
                                        </div>
                                        
                                        <div class="comContTable"><!-- PC 테이블 --><div class="pcView">
                                                <table class="basic">
                                                    <caption>Placing Points Classification Table: A table distinguishing between general/event races and other categories</caption>
                                                    <colgroup>
                                                        <col style="width: auto;">
                                                        <col style="width: 14.28%;">
                                                        <col style="width: 14.28%;">
                                                        <col style="width: 14.28%;">
                                                        <col style="width: 14.28%;">
                                                        <col style="width: 14.28%;">
                                                        <col style="width: 14.28%;">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th class="lineR">Classification</th>
                                                            <th>1st Place</th>
                                                            <th>2nd Place</th>
                                                            <th>3rd Place</th>
                                                            <th>4th Place</th>
                                                            <th>5th Place</th>
                                                            <th>6th Place</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="lineR"><b>General/Event Races</b></td>
                                                            <td>10 points</td>
                                                            <td>8 points</td>
                                                            <td>6 points</td>
                                                            <td>4 points</td>
                                                            <td>2 points</td>
                                                            <td>1 point</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="lineR"><b>Other than General/Event Races</b></td>
                                                            <td>11 points</td>
                                                            <td>9 points</td>
                                                            <td>7 points</td>
                                                            <td>5 points</td>
                                                            <td>3 points</td>
                                                            <td>2 points</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- Mobile 테이블 --><div class="mView">
                                                <table class="basic">
                                                    <caption>Placing Points Classification Table: A table distinguishing between general/event races and other categories</caption>
                                                    <colgroup>
                                                        <col style="width: 112px;">
                                                        <col style="width:auto;">
                                                        <col style="width:auto;">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th class="lineR">Classification</th>
                                                            <th>Ranking</th>
                                                            <th>Score</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="6" class="lineR"><b>General/Event<br>Races</b></td>
                                                            <td>1st Place</td>
                                                            <td>10 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2nd Place</td>
                                                            <td>8 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3rd Place</td>
                                                            <td>6 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4th Place</td>
                                                            <td>4 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5th Place</td>
                                                            <td>2 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6th Place</td>
                                                            <td>1 point</td>
                                                        </tr>
                                                        <tr>
                                                            <td rowspan="6" class="lineR"><b>Other than<br>General/Event Races</b></td>
                                                            <td>1st Place</td>
                                                            <td>11 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2nd Place</td>
                                                            <td>9 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3rd Place</td>
                                                            <td>7 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4th Place</td>
                                                            <td>5 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5th Place</td>
                                                            <td>3 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>6th Place</td>
                                                            <td>2 points</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                        
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Incident Points</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">Incident points are penalty points given to racers for disqualification, warnings, or cautions during a race, and they are assigned as follows according to the violation.</p>
                                        </div>
                                        
                                        <div class="comContTable"><!-- PC 테이블 --><div class="pcView">
                                                <table class="basic">
                                                    <caption>Incident Points Classification Table: A table distinguishing between general/event races and other categories</caption>
                                                    <colgroup>
                                                        <col style="width: 9%;">
                                                        <col style="width: auto;">
                                                        <col style="width: 19%;">
                                                        <col style="width: 19%;">
                                                        <col style="width: 19%;">
                                                        <col style="width: 6%;">
                                                        <col style="width: 6%;">
                                                        <col style="width: 6%;">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th class="lineR" colspan="2">Classification</th>
                                                            <th>Exclusion from Race (I)</th>
                                                            <th>Disqualification due to Violations</th>
                                                            <th>Exclusion from Race (II) / Other Disqualifications</th>
                                                            <th>Foul Warnings</th>
                                                            <th>Warning</th>
                                                            <th>Caution</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="2"><b>Athlete&rsquo;s Responsibility</b></td>
                                                            <td class="lineR"><b>General Special Title Races</b></td>
                                                            <td>15 points</td>
                                                            <td>7 points</td>
                                                            <td>4 points</td>
                                                            <td>2 points</td>
                                                            <td>1 point</td>
                                                            <td>0.5 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="lineR"><b>Grand Prix Race Final Race</b></td>
                                                            <td>15 points</td>
                                                            <td>10 points</td>
                                                            <td>4 points</td>
                                                            <td>4 points</td>
                                                            <td>1 point</td>
                                                            <td>0.5 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="lineR" colspan="2"><b>Beyond Athlete&apos;s Responsibility</b></td>
                                                            <td colspan="6">All are set to 0 points and excluded from the number of entries</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- Mobile 테이블 --><div class="mView">
                                                <table class="basic">
                                                    <caption>Incident Points Classification Table: A table distinguishing between general/event races and other categories</caption>
                                                    <colgroup>
                                                        <col style="width: 112px;">
                                                        <col style="width:auto;">
                                                        <col style="width:auto;">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th class="lineR">Classification</th>
                                                            <th>Penalty Categories</th>
                                                            <th>Score</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td rowspan="6" class="lineR"><b>General Special<br/> Grand Prix Race<br/>(Athlete&rsquo;s Responsibility)</b></td>
                                                            <td>Exclusion from Race (I)</td>
                                                            <td>15 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Disqualification due to Violations</td>
                                                            <td>7 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Exclusion from Race (II)<br> Other Disqualifications</td>
                                                            <td>4 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Foul Warnings</td>
                                                            <td>2 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Warning</td>
                                                            <td>1 point</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Caution</td>
                                                            <td>0.5 points</td>
                                                        </tr>
                                                        
                                                        <tr>
                                                            <td rowspan="6" class="lineR"><b>Grand Prix Race<br/> Final Race<br/> (Athlete&rsquo;s Responsibility)</b></td>
                                                            <td>Exclusion from Race (I)</td>
                                                            <td>15 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Disqualification due to Violations</td>
                                                            <td>10 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Exclusion from Race (II)<br> Other Disqualifications</td>
                                                            <td>4 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Foul Warnings</td>
                                                            <td>2 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Warning</td>
                                                            <td>1 point</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Caution</td>
                                                            <td>0.5 points</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="lineR"><b>Beyond Athlete&rsquo;s Responsibility</b></td>
                                                            <td colspan="2">All are set to 0 points and excluded from the number of entries</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Average Placing Points</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">A numerical measure of an athlete&rsquo;s race capability, calculated by dividing the total placing points (awarded based on race placings) by the number of races entered.</p>
                                        </div>

                                        <div class="comFomulBox">
                                            <div class="pcView"><img src="../../images/contents/cont21_01_01_02_001.png" alt="Formula: Placing Points/Number of Races Entered"></div>
                                            <div class="mView"><img src="../../images/contents/cont21_01_01_02_001_m.png" alt="Formula: Placing Points/Number of Races Entered"></div>
                                        </div>

                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Average Incident Points</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">It is calculated by dividing the total incident points during the relevant grading evaluation period (first or second half of the year) by the number of races entered, serving as an objective figure that most easily indicates a racer&apos;s ability.</p>
                                        </div>

                                        <div class="comFomulBox">
                                            <div class="pcView"><img src="../../images/contents/cont21_01_01_02_002.png" alt="Formula: Incident Points/Number of Races Entered"></div>
                                            <div class="mView"><img src="../../images/contents/cont21_01_01_02_002_m.png" alt="Formula: Incident Points/Number of Races Entered"></div>
                                        </div>

                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Average Scores</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">It is the score obtained by subtracting the average incident point from the average placing point.</p>
                                        </div>

                                        <div class="comFomulBox">
                                            <div class="pcView"><img src="../../images/contents/cont21_01_01_02_003.png" alt="Formula: Average Incident Points/Number of Races Entered"></div>
                                            <div class="mView"><img src="../../images/contents/cont21_01_01_02_003_m.png" alt="Formula: Average Incident Points/Number of Races Entered"></div>
                                        </div>

                                    </div>
                                </div>
                                <!-- //탭 컨텐츠2 -->
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠 3 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Winning Percentage</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">The winning percentage refers to <em>the number of times a cyclist has come in first place divided by the number of races entered</em>, expressed as a percentage.</p>
                                        </div>

                                        <div class="comFomulBox">
                                            <div class="pcView"><img src="../../images/contents/cont01_01_01_02_004.png" alt="Formula: (Number of 1st place wins/Number of races entered) * 100%"></div>
                                            <div class="mView"><img src="../../images/contents/cont01_01_01_02_004_m.png" alt="Formula: (Number of 1st place wins/Number of races entered) * 100%"></div>
                                        </div>

                                    </div>
                                </div>
                                
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Top Two Percentage</h2>
                                        </div>
                        
                                        <div class="comBasicList">
                                            <ul class="listGroup">
                                                <li class="item">The top two percentage is calculated by <em>dividing the number of first- and second-place finishes by the total number of races entered, expressed as a percentage</em>. It is also referred to as the <em>placement rate</em>.</li>
                                                <li class="item">A higher percentage indicates a greater likelihood of the participant finishing in first or second place. When purchasing race tickets, the top two percentage is often given more weight than the average finishing score.</li>
                                                <li class="item">In Straight Forecast betting, where you need to select both the first and second place finishers, the first two percentage, which reflects a cyclist&apos;s past first and second-place finishes, serves as an important reference when purchasing your race tickets.</li>
                                            </ul>
                                        </div>

                                        <div class="comFomulBox">
                                            <div class="pcView"><img src="../../images/contents/cont01_01_01_02_013.png" alt="Formula: ((Number of first-place finishes + Number of second-place finishes)/Number of races entered) * 100%"></div>
                                            <div class="mView"><img src="../../images/contents/cont01_01_01_02_013_m.png" alt="Formula: ((Number of first-place finishes + Number of second-place finishes)/Number of races entered) * 100%"></div>
                                        </div>

                                    </div>
                                </div>
                                
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Top Three Percentage</h2>
                                        </div>
                        
                                        <div class="comBasicList">
                                            <ul class="listGroup">
                                                <li class="item">The top three percentage is calculated by <em>dividing the number of first-, second-, and third-place finishes by the total number of races entered, expressed as a percentage</em>.</li>
                                                <li class="item">A higher percentage indicates a greater likelihood of the participant finishing in first, second, or third place. When purchasing race tickets, the top three percentage is often given more weight than the average finishing score.</li>
                                                <li class="item">In Combination Tricast betting, where you need to select the first, second, and third place finishers, the first three percentage, which reflects a cyclist&rsquo;s past first-, second-, and third-place finishes, serves as an important reference when purchasing your race tickets.</li>
                                            </ul>
                                        </div>

                                        <div class="comFomulBox">
                                            <div class="pcView"><img src="../../images/contents/cont01_01_01_02_014.png" alt="Formula: ((Number of first-place finishes + Number of second-place finishes + Number of third-place finishes)/Number of races entered) * 100%"></div>
                                            <div class="mView"><img src="../../images/contents/cont01_01_01_02_014_m.png" alt="Formula: ((Number of first-place finishes + Number of second-place finishes + Number of third-place finishes)/Number of races entered) * 100%"></div>
                                        </div>

                                    </div>
                                </div>
                                <!-- //탭 컨텐츠 3 -->
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠 4 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Tilt Angle</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">The tilt angle refers to the angle at which the motor is attached to the boat (the angle between the propeller side and the surface of the boat). For general leisure outboard motors, an automatic adjustment mechanism allows the tilt angle to be modified even during operation. However, racing motors for boating races are simplified machines designed for lightness and to prevent malfunctions. As such, the tilt angle must be reported and fixed two hours before the race begins.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Effects of the Tilt Angle</h2>
                                        </div>

                                        <div class="comTitH3">
                                            <h3>When the tilt angle is raised</h3>
                                        </div>
                        
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">The propeller also rises, causing the thrust acting on the propeller to push downward. This raises the bow (the front part of the boat), allowing the racing boat&apos;s speed to increase in a straight trajectory.</li>
                                                <li class="item">However, during turns, the reduced contact area with the water surface may result in instability.</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>When the tilt angle is lowered</h3>
                                        </div>
                        
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">The propeller is lowered, causing the thrust acting on it to push upward and press the bow (the front part of the boat) downward. While this may reduce speed, the increased contact with the water surface during turns provides greater stability.</li>
                                                <li class="item">Racers select the tilt angle to be used on race day based on weather conditions, course assignments, and other race operation factors.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- //탭 컨텐츠 4 -->
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠 5 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>Betting Types</h2>
                                        </div>
                        
                                        <div class="comBasicTxt">
                                            <p class="txt">Betting types in boating races involve predicting race outcomes. These include seven distinct types of bets, such as predicting the 1st place, the 1st and 2nd places, or the 1st, 2nd, and 3rd places combined.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- 고유영역 -->
                                <div class="cptDescList">
                                    <div class="listArea">
                                        <ul class="thumList">
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont21_01_01_02_004.png" alt="Select the 1st place finisher in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Win</em><div class="ballon">Accuracy rate: <span class="detail">1/6</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This is a method of predicting the 1st place racer.</li>
                                                            <li class="item">It is the most basic type of bet, suitable for beginners, with modest stakes offering potential payouts.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont21_01_01_02_005.png" alt="Select the 1st and 2nd place finishers in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Place</em><div class="ballon">Accuracy rate: <span class="detail">2/6</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting either the first or second place finisher.</li>
                                                            <li class="item">For races with eight or more participants, predicting a position within the top three qualifies. This betting type is not available in races with four or fewer participants.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont21_01_01_02_006.png" alt="Select the 1st and 2nd place finishers in any order"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Straight Forecast</em><div class="ballon">Accuracy rate: <span class="detail">1/36</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting the 1st and 2nd place finishers in the correct order.</li>
                                                            <li class="item">It is more difficult than the Reverse Forecast betting, but it offers the potential for higher payouts.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont21_01_01_02_007.png" alt="Select the 1st and 2nd place finishers in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Reverse Forecast</em><div class="ballon">Accuracy rate: <span class="detail">1/18</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item"> This involves predicting the 1st and 2nd place finishers in any order.</li>
                                                            <li class="item">It is more difficult than the Place betting, but it offers the potential for higher payouts.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont21_01_01_02_008.png" alt="Select the 1st, 2nd, and 3rd place finishers in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Combination Tricast</em><div class="ballon">Accuracy rate: <span class="detail">1/30</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting the 1st, 2nd, and 3rd place finishers in any order.</li>
                                                            <li class="item">It is a simpler betting type than the Straight Forecast.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont21_01_01_02_009.png" alt="Select the 1st, 2nd, and 3rd place finishers in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Tricast</em><div class="ballon">Accuracy rate: <span class="detail">1/180</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting the 1st, 2nd, and 3rd place finishers in the correct order.</li>
                                                            <li class="item"> It is the most difficult betting type, but it offers the highest potential payout.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="thumItem">
                                                <div class="thumArea"><img src="../../images/contents/cont21_01_01_02_010.png" alt="Select the 1st, 2nd, and 3rd place finishers in the race"></div>
                                                <dl class="descArea">
                                                    <dt><em class="tit">Banker Tricast</em><div class="ballon">Accuracy rate: <span class="detail">1/90</span></div>
                                                    </dt>
                                                    <dd>
                                                        <ul class="listGroup">
                                                            <li class="item">This involves predicting the 1st place finisher, and the 2nd and 3rd place finishers in any order.</li>
                                                            <li class="item">It is more difficult than the Straight Forecast, but it offers the potential for higher payouts.</li>
                                                        </ul>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- 정보이야기 박스 영역 -->
                                <div class="cptEtcInfo">
                                    <div class="infoBox">
                                        <dl class="info">
                                            <dt><em class="tit">Enjoy the race properly and have fun!</em> <span class="subTit">Tips for a healthy and enjoyable boat racing culture</span></dt>
                                            <dd>
                                                <div class="infoList">
                                                    <ul class="listGroup">
                                                        <li class="item">Boating races combine the excitement of high-speed competition with the added thrill and liveliness of betting opportunities, providing both entertainment and financial rewards.</li>
                                                        <li class="item">It is advisable to place bets only on races you are confident about and to gradually increase your betting amount rather than overextending from the beginning.<br> (It is recommended to purchase around 3 to 5 betting tickets per race and to bet within a reasonable range!)</li>
                                                        <li class="item">Place bets only within an amount you can afford to lose.<br> <em>Be fully aware of the risks of gambling addiction and legal restrictions, and participate responsibly.</em></li>
                                                    </ul>
                                                </div> 
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <!-- //탭 컨텐츠 5 -->
                            </div>
                        </div>
                    </div>

                </div>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs_eng/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs_eng/bottom.ejs', { }) %>