.cptFacInfo {
    margin-top: 60px;

    &.mgH20 {margin-top: 20px;}
    &.mgH32 {margin-top: 32px;}
    .list {
        display: flex; flex-wrap: wrap; margin-top: 60px;
        &:first-child {margin-top: 0;}
        .img {
            margin-right: 100px;
            img {max-width: 100%; height: auto; display: block; border-radius: 16px;}
        }
        .cont {
            flex: 1;
            &.verDiv {display: flex; flex-direction: column; justify-content: space-between;}
            .rowA {
                dl {
                    dt {
                        font-size: rem(20px); color: var(--Gray-900); font-weight: 700; line-height: 1.4; display: flex; align-items: center;
                        .rightTxt {display: flex; align-items: center; height: 24px; padding: 0 10px; font-size: rem(12px); color: var(---Secondary); font-weight: 600; border-radius: 20px; border: 1px solid var(--Point-Primary3); margin-left: 20px; line-height: normal;}
                    }
                    dd {
                        font-size: rem(16px); color: var(--Gray-800); line-height: 1.6; margin-top: 16px;
                        .blueTxt {font-size: rem(15px); line-height: 1.6; color: var(--Point-Blue2);}
                    }
                }
            }
            .rowB {
                padding-top: 16px; margin-top: 16px; border-top: 1px solid var(--Bg-Line-line-100);
                dl {                    
                    display: flex; margin-top: 12px;
                    &:first-child {margin-top: 0;}
                    dt {width: 120px; font-size: rem(16px); color: var(--Gray-800); line-height: 1.6; font-weight: 700;}
                    dd {
                        flex: 1; font-size: rem(16px); color: var(--Gray-800); line-height: 1.6;
                        &.flexAlign {display: flex; align-items: center;}
                        b {font-weight: 600;}
                        .tKey {margin-left: 20px;}
                        .popMap {
                            font-size: rem(15px); color: var(---Primary); cursor: pointer; margin-left: 20px; position: relative; display: inline-flex; 
                            align-items: center; border-bottom: 1px solid var(---Primary); line-height: 20px; font-weight: 500; flex-shrink: 0;
                            &::before {content:''; width: 16px; height: 16px; background: url(../../images/contents/cont08_04_02_mapIcon.svg) no-repeat center;}
                        }
                        .popUseInfo {font-size: rem(15px); color: var(---Primary); cursor: pointer; position: relative; display: inline-flex; align-items: center; line-height: 20px; font-weight: 500; text-decoration-line: underline; text-decoration-style: solid; text-decoration-skip-ink: none; text-decoration-thickness: auto; text-underline-offset: auto; text-underline-position: from-font;}
                        .roomClass {
                            display: flex; flex-wrap: wrap;
                            li {
                                width: 33.3333333%;
                                em {display: block; color: var(--Point-Primary2); font-weight: 700; line-height: 1.6;}
                            }
                        }
                    }
                }
            }
            .rowLink {
                a {
                    display: flex; align-items: center; gap: 8px;
                    &::after {content:''; width: 20px; height: 20px; background: url(../../images/common/ic_20_link.svg) no-repeat center;}
                }
            }
        }
    }
    .txtInfo {
        margin-top: 60px; padding: 40px 32px; border-radius: 20px; border: 1px solid var(--Point-Primary2);
        h3 {
            font-size: rem(20px); font-weight: 700; color: var(--Gray-800); margin-bottom: 32px; display: flex; align-items: center; gap: 8px;
            &::before {content:''; width: 40px; height: 40px; background: url(../../images/contents/cont28_info_icon.svg) no-repeat center;}
        }
    }
    .tableFacInfo {
        margin-top: 20px;      
        .tableRightTxt {margin-top: 12px; color: var(--Gray-600); font-size: rem(15px); line-height: 1.6; text-align: right;}  
    }
    .halfCont {
        display: flex; flex-wrap: wrap; gap: 60px 40px;
        .list {
            width: calc(50% - 20px); margin-top: 0;
            .img {
                margin-right: 32px; width: 240px; height: 200px;
                img {width: 100%; height: 100%; object-fit: cover;}
            }
            .cont {
                .rowB {padding-top: 0; border-top: 0;}
            }
        }
    }

    @include media("tablet"){
        .list {
            .cont {
                width: 100%; margin-top: 24px; flex: none; 
            }
        }
    }
        
    @include media("mobile"){
        &.mgH32 {margin-top: 20px;}
        .list {
            margin-top: 60px; display: block;
            .img {
                margin-right: 0px;                
            }
            .cont {
                flex: none; width: 100%; margin-top: 24px;
                .rowA {
                    dl {
                        dt {
                            font-size: rem(18px); font-weight: 600; line-height: 1.3;
                        }
                        dd {font-size: rem(15px); line-height: 1.6; margin-top: 12px;}
                    }
                }
                .rowB {                    
                    dl {
                        dt {width: 90px; font-size: rem(15px); line-height: 1.5;}
                        dd {
                            &.flexAlign {flex-wrap: wrap; flex-direction: column; align-items: baseline;}
                            .popMap {margin-left: 0; margin-top: 4px;}
                            font-size: rem(15px);
                            .tKey {margin-left: 20px;}
                            .blk {display: block;}
                            .roomClass {
                                gap: 12px;
                                li {
                                    width: calc(50% - 6px);
                                }
                            }                                              
                        }
                        &.mbType {
                            display: block;
                            dt {width: 100%; margin-bottom: 12px;}
                        }  
                    }
                }
                .rowLink {margin-top: 20px;}
            }
        }
        .tableFacInfo { 
            .tableRightTxt {font-size: rem(14px);}  
        }
        .halfCont {
            gap: 40px 0;
            .list {
                width: 100%;
                .img {
                    margin-right: 0; width: 100%;
                }
                .cont {
                    .rowB {
                        padding-top: 16px; border-top: 1px solid var(--Bg-Line-line-100);
                        dl {margin-top: 6px;}
                    }
                }
            }
        }
    }
}