<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경륜",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경정 가이드', '경정 알아보기'],
                    subTitle: '경정구성요소',
                    subText: '알면 알수록 재미가 두배!<br/><b>경정이 어떻게 구성되어 있는지 알아봐요.</b>',
                    url: "../../",
                    visualClass : "bg01",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">빠른 스피드! 예측불가 경정을 더 자세히 알아봐요. </h2>
                        <p class="info">경정은 여러가지 변수가 작용하여 예측하기 힘든 결과가 나오기도 해요. 타 스포츠보다 추리해야할 요소가 많은 경정 경기를 이해하기 유용한 정보들을 안내드려요.</p>
                    </div>

                    <div class="modTab">
                        <div class="tabMenuGroup tabSwiper toMob">
                            <ul class="tabMenu swiper-wrapper">
                                <li class="tabItem swiper-slide"><button class="tabName on" title="선택 된 탭메뉴">경정장</button></li> <!-- addClass - on : 메뉴 선택됨 -->
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">선수</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">심판</button></li>
                                <li class="tabItem swiper-slide"><button class="tabName" title="탭메뉴">모터보트</button></li>
                            </ul>
                        </div>
                        <div class="tabDirection">
                            <div class="tabBtn alignL">
                                <button class="prev">이전</button>
                            </div>
                            <div class="tabBtn alignR">
                                <button class="next">다음</button>
                            </div>
                        </div>
                        <div class="tabContianer">
                            <div class="tabCont on"><!-- addClass - on : 컨텐츠 노출 -->
                                <!-- 탭 컨텐츠1 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>경주시설 및 장비</h2>
                                        </div>
            
                                        <div class="comImgBox">
                                            <div class="imgWrap">
                                                <img src="../../images/contents/cont21_01_01_04_001.png" alt="경정 경주시설 및 장비 이미지.">
                                            </div>
                                        </div> 
                                    </div>
                                </div>

                                <div class="cptOrderGuide col3">
                                    <div class="guideArea">
                                        <div class="comTitH2">
                                            <h2>한눈에 보는 경주장</h2>
                                        </div>
            
                                        <div class="imgGuide noLine"> <!--class 'noLine' : 상단 구분선 없음 -->
                                            <ul class="guideGroup">
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_002.png" alt="센터폴 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">01</span> <!--class 'round' : 원형 마크 넘버링-->
                                                        <span class="txt">센터폴</span>
                                                    </p>
                                                    <p class="desc">출발과 도착을 확인하는 기준이 되는 중심 기둥</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_003.png" alt="표지폴 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">02</span> 
                                                        <span class="txt">표지폴</span>
                                                    </p>
                                                    <p class="desc">수면상 위치를 표시하는 기둥으로 5m, 45m,80m, 100m로 구분</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_004.png" alt="표지판 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">03</span> 
                                                        <span class="txt">표지판</span>
                                                    </p>
                                                    <p class="desc">출발지점의 위치를 확인해주는 표시로 5m, 45m,85m, 100m, 150m 구분</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_005.png" alt="턴마크 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">04</span> 
                                                        <span class="txt">턴마크</span>
                                                    </p>
                                                    <p class="desc">선회 지정을 표시(지름110cm, 높이95cm)</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_006.png" alt="공중선 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">05</span> 
                                                        <span class="txt">공중선</span>
                                                    </p>
                                                    <p class="desc">표지폴(판)5m, 45m, 표지폴 80m와 표지판 85m를 연결한 것으로 선수가 출발지점의 위치를 확인하는 중요한 표시.
                                                        80m와 표지판 85m를 연결한 이유는 내측과 외측 선수간 순간속도와 거리오차 등을 환산하여 설치한 것</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_007.png" alt="대시계 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">06</span> 
                                                        <span class="txt">대시계</span>
                                                    </p>
                                                    <p class="desc">플라잉스타트 방식의 경주를 하기 위한 출발 신호용 시계 (2분전 표시등, 1분침, 12초침으로 구성)</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_008.png" alt="체커등 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">07</span> 
                                                        <span class="txt">체커등</span>
                                                    </p>
                                                    <p class="desc">출발 약 15초전 및 결승선 도착시 교차점멸하는 신호 장치</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_009.png" alt="삼색신호등 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">08</span> 
                                                        <span class="txt">삼색신호등</span>
                                                    </p>
                                                    <div class="comBasicList">
                                                        <ul class="listGroup">
                                                            <li class="item">
                                                                <span class="lineTit">최종주회 신호등(녹색): </span>
                                                                <span class="lineTxt">최종 1주회가 남았을 때 점등</span>
                                                            </li>
                                                            <li class="item">
                                                                <span class="lineTit">실격ㆍ결장 표시등(적색): </span>
                                                                <span class="lineTxt">실격정 발생시 점등</span>
                                                            </li>
                                                            <li class="item">
                                                                <span class="lineTit">경주중지 신호등(황색): </span>
                                                                <span class="lineTxt">경주 중지시 점등</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_010.png" alt="스톱등 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">09</span> 
                                                        <span class="txt">스톱등</span>
                                                    </p>
                                                    <p class="desc">경기 중지시 점등</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_011.png" alt="경기 중지시 점등 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">10</span> 
                                                        <span class="txt">경기 중지시 점등</span>
                                                    </p>
                                                    <p class="desc">실격ㆍ결장 호정에 붉은색 경고등이 점등하는 신호장치</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_012.png" alt="정상출발표시등 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">11</span> 
                                                        <span class="txt">(온라인/플라잉스타트)</span>
                                                    </p>
                                                    <p class="desc">정상출발시 <b class="tBlue2">‘O’ (청색)</b> 표시 / 출발사고시 <b class="tRed">‘X’ (적색)</b> 표시</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_013.png" alt="위험신호등 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">12</span> 
                                                        <span class="txt">위험신호등</span>
                                                    </p>
                                                    <p class="desc">경주사고(전복, 낙수 등) 발생 시 점멸(적/황)하는 신호장치</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_014.png" alt="항주지시등 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">13</span> 
                                                        <span class="txt">항주지시등</span>
                                                    </p>
                                                    <p class="desc">위험신호등 점등시 경주중인 모터보트의 항주방향을 지시하는 신호장치</p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_015.png" alt="출발지시등 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">14</span> 
                                                        <span class="txt">출발지시등</span>
                                                    </p>
                                                    <p class="desc">시동, 출주, 정지를 선수들에게 전달하기 위해 계류장 출발피트에 설치되는 지시등 </p>
                                                </li>
                                                <li class="guideItem">
                                                    <div class="imgArea">
                                                        <img src="../../images/contents/cont21_01_01_04_016.png" alt="정상표시등 (온라인스타트) 사진">
                                                    </div>
                                                    <p class="tit">
                                                        <span class="num round">15</span> 
                                                        <span class="txt">정상표시등 (온라인스타트)</span>
                                                    </p>
                                                    <p class="desc">정상출발시 <b class="tGreen">‘●’ (녹색)</b> 표시 / 비정상출발시 <b class="tRed">‘●’ (적색)</b> 표시</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠2 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>경정선수</h2>
                                        </div>
                                        <div class="comBasicTxt">
                                            <p class="txt">
                                                선수는 국민체육진흥공단이 실시하는 자격시험에 합격해야 등록이 가능합니다.
                                            </p>
                                        </div>

                                        <div class="comTitH3">
                                            <h3>선수등록</h3>
                                        </div>
                                        <div class="comBasicTxt space">
                                            <p class="txt">
                                                경정선수는 경정선수 후보생 선발시험을 통과한 후 경정선수 양성교육과정을 수료한 후 경륜ㆍ경정법에 의한 소정의 시험을 통과해야 경정선수로 등록할 수 있습니다. <br/> <!-- 20250118 텍스트 수정 -->
                                                <span class="tMint">후보생 선발 응시자격:연령 만 18세~33세 미만 남녀, 175cm 이하, 68kg 이하, 양안 나안시력0.8이상으로 색맹이 아닌자</span> <!-- 20250304 -->
                                            </p>
                                        </div>

                                        <div class="comTitH3">
                                            <h3>자격시험 대상</h3>
                                        </div>
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">경정훈련원에 입소하여 선수양성교육을 이수한 자</li>
                                                <li class="item">등록된 경정선수로 선수등록 유효기간(2년)만료 1월이내 재등록자</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>검정과목</h3>
                                        </div>
                                        <div class="comBasicTxt space">
                                            <p class="txt">필기시험, 실기시험, 면접 및 신체검사</p>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>등록기간</h3>
                                        </div>
                                        <div class="comBasicTxt space">
                                            <p class="txt">2년</p>
                                        </div>
                                        <div class="comTitH3">
                                            <h3>선수상금</h3>
                                        </div>
                                        <div class="comBasicTxt space">
                                            <p class="txt">경주에 출전한 선수는 경주종류 및 착순 순위에 따라 상금이 차등 지급됩니다. 상금종류로는 일반경주, 대상경주, 특별경주 상금이 있으며, 그외에도 출전상금, 출전준비상금 등이 있습니다.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptCol3Section">
                                    <div class="sectArea">
                                        
                                        <div class="comTitH2">
                                            <h2>경정선수복</h2>
                                        </div>

                                        <ul class="sectGroup">
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont21_01_01_04_017.png" alt="경주용 유니폼(상의) 참고 사진">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>경주용 유니폼(상의)</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">
                                                        겉감은 폴리에스터, 안감은 파라-아라미드로 선수의 상체를 보호하고 선수별로 6가지 바탕색을 근간으로 점퍼모양의 유니폼으로 제작하여 후면에는 고객들이 선수를 쉽게 알아보도록 "배번"을 부착하였습니다. <br/>
                                                        <span class="tMint">컬러 : 흰색(1번), 흑색(2번), 적색(3번), 청색(4번), 황색(5번), 녹색(6번)</span> 
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont21_01_01_04_018.png" alt="경주용 유니폼(하의) 참고 사진">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>경주용 유니폼(하의)</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">수상커버 속에 입으며 전체적으로 파라-아라미드 2겹으로 구성되어 있으나 중요부분(허리 등)은 3겹으로 제작되어 있으므로 사고시의 충격 및 프로펠러에 의한 손상으로 부터 선수의 하체를 보호합니다.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont21_01_01_04_019.png" alt="방수복 참고 사진">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>방수복</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">물이 많이 튀는 경주이므로 기능성 나일론 또는 동등 이상의 원단을 사용하며 고방수, 발수, 투습 기능이 있습니다.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont21_01_01_04_020.png" alt="장갑 참고 사진">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>장갑</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">겉감은 가죽을 사용하여 선수의 모터보트 조작에 불편이 없도록 활동성을 확보하고, 핸들조작에 따른 미끄럼을 방지하며, 안감은 파라-아라미드 섬유로 보강하여 선수의 손에 대한 안전을 확보하였습니다.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont21_01_01_04_021.png" alt="손목밴드, 팔보호밴드, 양말 참고 사진">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>손목밴드, 팔보호밴드, 양말</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">선수손목 및 팔, 발을 보호하도록 파라-아라미드 소재로 하였으며 착용 후에도 밴드가 늘어나지 않고 원형대로 유지 하도록 신축성 있게 제작하였습니다.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont21_01_01_04_022.png" alt="경정화 참고 사진">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>경정화</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">충돌 및 사고에 대비하여 선수의 발과 발목을 보호하는 신발로서 바닥에는 미끄럼방지 고무를 사용하고 티타늄판 1겹, 파라-아라미드 3겹과 우레탄 깔창 1겹을 사용하였으며, 발 윗부분은 티타늄판, 파라-아라미드 2겹과 네오프렌 방수원단을 사용하여 안전을 확보하였습니다.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont21_01_01_04_023.png" alt="구명동의 참고 사진">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>구명동의</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">에폭시 수지와 폴리에틸렌 섬유를 사용하여 진공성형 공법으로 성형된 재료로 제작하여 외부로부터의 충격에 대해 신체를 보호하고 낙수 등으로 물에 빠졌을 경우에 거의 수직으로 서서 익사를 방지하는 역할을 합니다.</p>
                                                </div>
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont21_01_01_04_024.png" alt="팔보호대(암프로텍터) 참고 사진">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>팔보호대(암프로텍터)</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">겉감은 천연가죽, 안감은 파라-아라미드 섬유, 고밀도 N.B.R, 적층 유리섬유 등을 사용하여 선수의 왼쪽 손등에서 팔꿈치까지 보호하도록 제작하여 선수의 안전을 확보하였습니다.</p>
                                                </div> 
                                            </li>
                                            <li class="sectItem">
                                                <div class="comImgWrap">
                                                    <div class="imgGroup">
                                                        <div class="imgArea">
                                                            <img src="../../images/contents/cont21_01_01_04_025.png" alt="헬멧 참고 사진">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comTitH3 mgH">
                                                    <h3>헬멧</h3>
                                                </div>
                                                
                                                <div class="comBasicTxt space">
                                                    <p class="txt">한국공업규격(KS규격) 승차용안전모 3종(풀페이스형)의 구조일반의 규격에 적합한 것으로 머리에 오는 외부충격을 완화하는 보호장구입니다. 안전모의 내부에는 착용자의 머리에 상처를 입힐 염려가 있는 단단한 물체가 없도록 제조되었고, 물에 빠졌을 경우에는 어떤 각도에서도 떠오르도록 제작하여 안전성을 확보하였습니다.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div> 
                                </div>
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠3 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>경정 심판</h2>
                                        </div>
                    
                                        <div class="comBasicTxt">
                                            <p class="txt">
                                                경정 심판은 침착, 냉정하고 엄정하게 확고한 신념을 가지고 경정경주규칙을 적용하여 경주 출발부터 진행, 순위확정 판정까지 경주진행의 전반을 총괄 운영합니다. <br/>
                                                경주규칙에 저촉될 수 있는 행위를 한 선수에 대한 판정은 그 행위가 어떻게 발생하였는가의 원인, 그 행위가 어떻게 진행되었는가의 과정, 그 행위가 경주 및 다른 선수에게 어떠한 영향을 미쳤는가의 결과 등에 대해 충분히 규명, 심리하여 종합적인 판단으로 판정을 하게 됩니다.
                                            </p>
                                        </div>
                                        <div class="comImgWrap col3">
                                            <div class="imgGroup">
                                                <div class="imgArea">
                                                    <img src="../../images/contents/cont21_01_01_04_026.png" alt="경정 심판을 진행 중인 모습1">
                                                </div>
                                                <div class="imgArea">
                                                    <img src="../../images/contents/cont21_01_01_04_027.png" alt="경정 심판을 진행 중인 모습2">
                                                </div>
                                                <div class="imgArea">
                                                    <img src="../../images/contents/cont21_01_01_04_028.png" alt="경정 심판을 진행 중인 모습3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptMission">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>심판미션</h2>
                                        </div>

                                        <ul class="mssnGroup">
                                            <li class="mssnItem">
                                                <dl>
                                                    <dt>
                                                        <span class="num">1</span>
                                                        <b>신속하고 정확한 심판판정</b>
                                                    </dt>
                                                    <dd>원인/경과/결과를 토대로 위반행위에 대하여 충분히 규명 심의하여 신속하고 정확하게 판정</dd>
                                                </dl>
                                            </li>
                                            <li class="mssnItem">
                                                <dl>
                                                    <dt>
                                                        <span class="num">2</span>
                                                        <b>심판전문성 강화</b>
                                                    </dt>
                                                    <dd>주간 · 월간 직무교육 , 비상훈련, 세미나, 전문가 초청 교육 등을 통한 심판 역량 강화</dd>
                                                </dl>
                                            </li>
                                            <li class="mssnItem">
                                                <dl>
                                                    <dt>
                                                        <span class="num">3</span>
                                                        <b>고객중심 운영</b>
                                                    </dt>
                                                    <dd>일일명예심판, 심판판정설명회, 심판 판정 가이드 제작 등을 통해 경주 운영과 심판판정에 대한 정확하고 투명한 설명</dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>심판의 구성(업무 배정)</h2>
                                        </div>
            
                                        <div class="comImgBox">
                                            <div class="pcView">
                                                <img src="../../images/contents/cont21_01_01_04_029.png" alt="심판장 - 중앙심판 - 부심판장-진행심판-신호원-착순원-기록원-게시원 / 코너심판-1코너 심판-2코너 심판">
                                            </div>
                                            <div class="mView">
                                                <img src="../../images/contents/cont21_01_01_04_029_m.png" alt="심판장 - 중앙심판 - 부심판장-진행심판-신호원-착순원-기록원-게시원 / 코너심판-1코너 심판-2코너 심판">
                                            </div>
                                        </div> 
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>심판의 역할</h2>
                                        </div>

                                        <div class="comContTable">
                                            <div class="tableArea">
                                                <table class="basic">
                                                    <caption>심판의 역할 표 : 심판 구분 별 역할을 포함한 표</caption>
                                                    <colgroup>
                                                        <col style="width:120px;">
                                                        <col style="width:auto;">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th class="lineR">심판장</th>
                                                            <td class="left">중앙심판 심판운영, 소개항주 및 경주 중 규칙위반행위를 감시판정하며 플라잉 및 순위 판정</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">부심판장</th>
                                                            <td class="left">경주상황을 감시 기록하고 위반행위 심의 판정 및 심판장 유고 시 직무대행</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">진행심판</th>
                                                            <td class="left">경주진행, 대시계 및 외부신호장비 작동 상태 확인, 순위확정표출</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">신호원</th>
                                                            <td class="left">소개항주타임 및 주회별 랩타임 측정, 주회수고지</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">착순원</th>
                                                            <td class="left">출발위반 및 도착순위 판정</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">기록원</th>
                                                            <td class="left">경주성적 및 판정사항을 경주운영시스템에 입력 관리</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">게시원</th>
                                                            <td class="left">내부정보표시관 및 레이스진행모니터링시스템 운영</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">코너심판</th>
                                                            <td class="left">턴마크 부근의 규칙위반행위 감시</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>심판 등록제</h2>
                                        </div>
                                        
                                        <div class="comBasicList">
                                            <ul class="listGroup">
                                                <li class="item">심판은 국민체육진흥공단이 실시하는 자격시험에 합격해야 등록이 가능합니다. 경정 심판이 되기 위해서는 국민체육진흥공단에서 실시하는 경정심판 교육을 이수한 후 경정심판 등록시험을 거쳐야 합니다. </li>
                                                <li class="item">경정심판교육은 3-6개월 과정으로 진행되며 경정관련법규, 조종·정비실기, 심판지식·실무에 관한 사항을 교육받게 되며, 지원하기 위한 응시자격은 모집 1개월 전에 구체적인 자격요건이 공지됩니다.</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>자격시험 대상</h3>
                                        </div>
                                        
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">경정훈련원에 입소 또는 주관하여 심판양성교육을 이수한 자</li>
                                                <li class="item">등록된 경정심판으로 심판등록 유효기간(2년)만료 1개월이내 재등록자</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>검정과목</h3>
                                        </div>
                                        
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">필기시험, 실기시험, 면접 및 신체검사</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="comTitH3">
                                            <h3>등록기간</h3>
                                        </div>
                                        
                                        <div class="comBasicList space">
                                            <ul class="listGroup">
                                                <li class="item">2년</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabCont">
                                <!-- 탭 컨텐츠4 -->
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>경정레이스의 꽃, 모터보트</h2>
                                        </div>
            
                                        <div class="comFloatImg">
                                            <div class="imgArea">
                                                <img src="../../images/contents/cont21_01_01_04_030.png" alt="경주중인 모터보트의 사진">
                                            </div>
                                            <div class="descArea">
                                                <p class="desc">푸른 수면 위에 하얀 물보라를 뿌리며 달리는 경정 경주는 보트 외부에 모터를 단 1인승 모터보트를 사용합니다. 보트와 모터의 정비는 전문 정비사가 담당하게 되며 선수들 은 경기 전 추첨을 통해 보트와 모터를 배정 받게 됩니다.</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>보트 설계와 제작</h2>
                                        </div>
                                        
                                        <div class="comBasicTxt">
                                            <p class="txt">
                                                100% 국내 기술로 이루어졌으며 저중심 설계를 원칙으로 선박의 안정성을 높였습니다. 모터 역시 일부 기성부품을 활용하여 경정 경주에 필수적인 마그넷 시스템과 순간 추진력 및 스피드를 대폭 향상 시킨 프로펠러 등 국산 모델을 자체 개발함으로써 소형선박부문의 독자적인 노하우 보유와 관련 장비 산업발전에 크게 이바지하였습니다.   
                                            </p>
                                        </div>
                                        <div class="comImgWrap col3">
                                            <div class="imgGroup">
                                                <div class="imgArea">
                                                    <img src="../../images/contents/cont21_01_01_04_031.png" alt="보트를 설계하고 제작하는 모습1">
                                                </div>
                                                <div class="imgArea">
                                                    <img src="../../images/contents/cont21_01_01_04_032.png" alt="보트를 설계하고 제작하는 모습2">
                                                </div>
                                                <div class="imgArea">
                                                    <img src="../../images/contents/cont21_01_01_04_033.png" alt="보트를 설계하고 제작하는 모습3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>경정에서 사용하는 모터보트</h2>
                                        </div>
                                        
                                        <div class="comBasicTxt">
                                            <p class="txt">
                                                국민체육진흥공단의 계약절차를 거쳐 선정된 업체가 제작한 국산 모터보트입니다. 보트는 버치 합판과 멜란티 합판을 주로 사용하여 고강도, 경량화를 이룩하였고, 박진감 있고 흥미로운 경주를 위해 보트의 성능을 최적화하였습니다.<br/>
                                                50년이 넘은 역사를 자랑하는 일본 경정 보트와 견주어도 손색이 없을 만큼 조종성과 안정성이 우수합니다. 또한 선박의 구조강도와 복원성 측면에서도 상당히 우수하게 개발된 보트입니다.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>모터보트의 구조</h2>
                                        </div>
                                        
                                        <div class="comBasicTxt">
                                            <p class="txt">
                                                주요 장비로는 방향을 조절하는 운전대와 속도조절 장치인 스로틀레버,선수를 보호하기 위한 카울링과 소프트바우 등으로 구성되어 있습니다.
                                            </p>
                                        </div>
                                        
                                        <div class="comImgBox">
                                            <div class="imgWrap">
                                                <img src="../../images/contents/cont21_01_01_04_034.png" alt="보트의 구조 설명. 소프트바우, 스로틀레버, 정기, 카울링, 모터 등을 설명한 이미지">
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                
                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>모터의 구조</h2>
                                        </div>
                                        
                                        <div class="comBasicTxt">
                                            <p class="txt">
                                                배기량 403cc 2사이클 2기통 엔진으로, 추진동력을 만들어 내는 파워 유니트와 추진동력을 회전운동으로 변환, 전달하는 로우어 유니트로 구성되어 있습니다.
                                            </p>
                                        </div>
                                        
                                        <div class="comImgBox">
                                            <div class="imgWrap">
                                                <img src="../../images/contents/cont21_01_01_04_035.png" alt="보트의 구조 설명. 핸들, 파워유닛(엔진본체, 카브레터, 연료통 등), 로우 유닛(스턴브라켓, 기어케이스, 프로펠러 등)">
                                            </div>
                                        </div> 
                                    </div>
                                </div>

                                <div class="cptSection">
                                    <div class="sectArea">
                                        <div class="comTitH2">
                                            <h2>모터보트의 사양</h2>
                                        </div>

                                        <div class="comContTable">
                                            <div class="tableArea">
                                                <table class="basic">
                                                    <caption>모터보트의 사양 표 : 전장, 너비, 보트 중량 등의 보트 사양을 포함한 표</caption>
                                                    <colgroup>
                                                        <col style="width:120px;">
                                                        <col style="width:auto;">
                                                    </colgroup>
                                                    <tbody>
                                                        <tr>
                                                            <th class="lineR">전장</th>
                                                            <td class="left">2,770mm(소프트바우 제외)</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">너비</th>
                                                            <td class="left">1,320mm</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">보트중량</th>
                                                            <td class="left">75.5kg</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">주기관</th>
                                                            <td class="left">32마력 outboard drive</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">승선인원</th>
                                                            <td class="left">1명</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">연료탱크용적</th>
                                                            <td class="left">2,300ml</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">모터중량</th>
                                                            <td class="left">43kg</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="lineR">속력</th>
                                                            <td class="left">약 40노트(75km/h)</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정기획팀',
                    name: '성주연',
                    phone: '02-790-8304',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>