<!-- Header -->
<%- include('../_ejs/top.ejs', {
    title: "KBOAT 경정",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../_ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 서브 콘텐츠 영역 -->
            <div class="layoutSubCont">

                <!-- 서브 컨텐츠 내용이 들어오는 영역-->
                <!-- 서브 탑 (타이틀) -->
                <%- include('../_ejs/sub_top.ejs', {
                    location: ['경정 라이브러리'],
                    subTitle: '경정예상지',
                    subText: '<b>경정 예상지 판매 업체</b>에 <br/> 대해 알려드려요',
                    url: "../../",
                    visualClass: "bg01",
                }) %>

                <div class="layoutContArea">

                    <div class="comSubInfo">
                        <h2 class="infoTit">경정 예상지는 경정 경주 결과를 예측하고, 이를 바탕으로 베팅 전략을 세우는 데 도움을 주는 자료입니다</h2>
                        <p class="info">경정 예상지는 경주를 더욱 즐겁게 즐기고, 합리적인 베팅 전략을 세우는 데 도움을 줄 수 있습니다. <br/> 하지만 예상지는 참고 자료일 뿐이며, 절대적인 기준이 될 수 없다는 점을 명심해야 합니다</p>
                        <p class="infoEtc">판매계약기간 : 2025년 1월 1일 ~ 2025년 12월 31일</p> <!-- 20250104 수정 -->
                    </div>

                    <div class="cptCompanys">
                        <div class="sectArea">
                            <div class="comTitH2">
                                <h2>경정예상지 판매 신고 업체 및 변경 계약 대상 업체</h2>
                            </div>
                            <!-- 20250314 변경 -->
                            <div class="comContTable">
                                <div class="tableArea">
                                    <table>
                                        <caption>경륜예상지 판매 신고 업체 및 변경 계약 대상 업체 표 : 예상지명, 발행인 및 연락처를 포함한 표</caption>
                                        <colgroup>
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th class="lineR">예상지명</th>
                                                <th>발행인</th>
                                                <th>연락처</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="lineR"><a href="#" target="_blank" title="새창열림" class="link">경정코리아</a></th>
                                                <td>이서범</td>
                                                <td>010-8236-2085</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR"><a href="#" target="_blank" title="새창열림" class="link">경정마린스</a></th>
                                                <td>설관호</td>
                                                <td>010-9822-2099</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR"><a href="#" target="_blank" title="새창열림" class="link">경정윈저</a></th>
                                                <td>김영숙</td>
                                                <td>010-5434-2142</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">스포츠경정</th>
                                                <td>오주영</td>
                                                <td>02-409-9906</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR"><a href="#" target="_blank" title="새창열림" class="link">경정쾌속정</a></th>
                                                <td>허 준</td>
                                                <td>031-790-7948,<br/> 031-790-0783</td>
                                            </tr>
                                            <tr>
                                                <th class="lineR">경정종합예상지</th>
                                                <td>김영숙</td>
                                                <td>010-5434-2142</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- //20250314 변경 -->
                        </div>
                    </div>
                </div>

                    
                <!-- 서브 바텀 (담당자) -->
                <%- include('../_ejs/sub_btm.ejs', {
                    team: '경정기획팀',
                    name: '최동훈',
                    phone: '02-790-8306',
                    url: "../../",
                }) %>
                
                <!-- //서브 컨텐츠 내용이 들어오는 영역-->
                
            </div>
            <!-- //서브 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../_ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>


<!-- Bottom -->
<%- include('../_ejs/bottom.ejs', { }) %>