<%
var url = locals.url ? locals.url : '../../';
%>
                <div class="allMenuArea">
                    <div class="allTop">

                    </div>
                    <div class="allMenuGroup">
                        <div class="allMenuBox">
                            <ul class="depth1Group">
                                <li class="depth1Menu">
                                    <a href="#" class="depth1Name">경정가이드</a>

                                    <ul class="depth2Group">
                                        <li class="depth2Menu">
                                            <a href="#" class="depth2Name">경정 알아보기</a>
                                            <ul class="depth3Group">
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경정안내</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경정기초정보</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경주진행과정</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경정구성요소</a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2Menu">
                                            <a href="#" class="depth2Name">경정 즐겨보기</a>
                                            <ul class="depth3Group">
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경주권구매 가이드</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">출주표 보는법</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">배당률 보는법</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경주권 환급,환불</a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2Menu">
                                            <a href="#" class="depth2Name">경정 지식쌓기</a>
                                            <ul class="depth3Group">
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경주시행규칙</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경정전법</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">심판판정</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경정용어사전</a></li>
                                                <li class="depth3Menu"><a href="#" class="depth3Name">경륜·경정 관련법 안내</a></li>
                                            </ul>
                                        </li>
                                        <li class="depth2Menu">
                                            <a href="#" class="depth2Name">경정예상지</a>
                                        </li>
                                        <li class="depth2Menu">
                                            <a href="#" class="depth2Name">우승선수 예측</a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>