<%
var url = locals.url ? locals.url : '../../';
%>

<div class="cptFooter">
    <div class="footArea">
        <div class="siteArea">
            <ul class="siteGroup">
                <!-- 20241214 2depth 추가 -->
                <li class="item">
                    <button type="button" class="depth1Btn">신고센터 안내</button> <!--class 'on' : 버튼 열림--> <!--20241214 a > button 변경, class 추가--> 
                    <ul class="depth2Group">
                        <li class="depth2Item"><a href="#" class="depth2Link">분실경주권 신고</a></li>
                        <li class="depth2Item"><a href="#" class="depth2Link">부정행위자 신고</a></li>
                        <li class="depth2Item"><a href="#" class="depth2Link">불법행위자 신고</a></li>
                        <li class="depth2Item"><a href="#" class="depth2Link">불법사이트 신고</a></li>
                        <li class="depth2Item"><a href="#" class="depth2Link newW" target="_blank" title="새창열림">부조리 신고센터</a></li>
                        <li class="depth2Item"><a href="#" class="depth2Link">예산낭비 신고센터</a></li>
                    </ul>
                </li>
                <li class="item">
                    <button type="button" class="depth1Btn">패밀리사이트</button>
                    <ul class="depth2Group">
                        <li class="depth2Item"><a href="#" class="depth2Link newW" target="_blank" title="새창열림">서울올림픽파크텔</a></li>
                        <li class="depth2Item"><a href="#" class="depth2Link newW" target="_blank" title="새창열림">에콜리안골프장</a></li>
                        <li class="depth2Item"><a href="#" class="depth2Link newW" target="_blank" title="새창열림">한국스포츠정책과학원</a></li>
                        <li class="depth2Item"><a href="#" class="depth2Link newW" target="_blank" title="새창열림">한국체육산업개발(주)</a></li>
                    </ul>
                </li>
                <li class="item">
                    <button type="button" class="depth1Btn">연관사이트</button>
                    <ul class="depth2Group">
                        <li class="depth2Item"><a href="#" class="depth2Link newW" target="_blank" title="새창열림">스포원</a></li>
                        <li class="depth2Item"><a href="#" class="depth2Link newW" target="_blank" title="새창열림">창원레포츠파크</a></li>
                        <li class="depth2Item"><a href="#" class="depth2Link newW" target="_blank" title="새창열림">사행산업통합감독위원회 불법사행산업감시신고센터</a></li>
                    </ul>
                </li>
                <!-- //20241214 2depth 추가 -->
            </ul>
        </div>
        <div class="addressArea">
            <div class="logoGroup">
                <div class="logoBox">
                    <svg xmlns="http://www.w3.org/2000/svg" width="107" height="20" viewBox="0 0 107 20" fill="none">
                        <g clip-path="url(#clip0_1035_14136)">
                        <path d="M27.8204 0H23.5077C21.7507 0 20.3132 0.59726 19.509 1.27671L9.08804 8.75068C9.91974 5.66027 10.7404 2.61918 11.4454 0H8.4326C6.56542 0 5.19946 0.564384 4.8745 1.61096L0 19.7151H3.00181C4.90203 19.7151 6.29003 19.1342 6.58195 18.0548V18.0658C7.18231 15.8247 7.84326 13.3699 8.51522 10.8877L14.5409 18.3836C15.1302 19.1123 15.7746 19.7151 17.9062 19.7151H22.5108L14.651 10.0164L27.8204 0Z" fill="#00458D"/>
                        <path d="M103.081 5.50707C104.469 5.50707 105.422 4.72351 105.614 4.01118L106.149 2.18652H89.377C87.4768 2.18652 86.0943 2.76735 85.7968 3.8468L85.3066 5.50159H93.3372H93.3261L89.5698 19.6167H90.9192C92.7974 19.6167 94.1633 19.0523 94.4828 17.9947C94.9565 16.2413 97.1046 8.08789 97.8041 5.49611H103.075L103.081 5.50707Z" fill="#00458D"/>
                        <path d="M60.4384 1.93994H59.5462C54.4844 1.93994 49.4777 5.21117 48.1723 9.9783L47.627 11.9619C46.3162 16.7235 49.5218 20.0002 54.589 20.0002H55.4813C60.5486 20.0002 65.5498 16.7235 66.8606 11.9619L67.4059 9.9783C68.7168 5.21117 65.5112 1.93994 60.4439 1.93994H60.4384ZM62.6581 10.6797L62.4653 11.381C61.5235 14.8167 58.709 16.6742 56.3956 16.6742H55.5254C53.2176 16.6742 51.4165 14.8167 52.3638 11.381L52.5566 10.6797C53.4985 7.24953 56.313 5.392 58.6263 5.392H59.4966C61.8044 5.392 63.6 7.24953 62.6581 10.6797Z" fill="#00458D"/>
                        <path d="M46.0903 7.45217C46.6686 4.71792 44.84 2.24121 41.6289 2.24121H33.2293C31.3732 2.24121 30.0127 2.80012 29.6767 3.84121L25.353 19.7645H37.7899C41.1001 19.7645 43.7164 18.5097 44.5756 15.2659C45.0218 13.5672 44.2672 11.8029 43.3308 11.1672C44.8455 10.5261 45.7102 9.19464 46.0793 7.44669L46.0903 7.45217ZM40.632 14.7124C40.3676 15.6823 39.3376 16.4713 38.1809 16.4713H30.5084L31.5384 12.6303H39.1558C40.2905 12.6303 40.9294 13.622 40.6264 14.7124H40.632ZM42.1742 7.65491C41.9098 8.63025 40.698 9.34258 39.7287 9.34258H32.4307L33.4496 5.53436H40.6485C42.0585 5.53436 42.4441 6.68505 42.1797 7.65491H42.1742Z" fill="#00458D"/>
                        <path d="M81.3516 16.0823L82.1117 18.3892C82.3926 19.2439 83.0811 19.7426 84.3479 19.7426H86.8319L80.8724 2.19189H78.6472C77.3749 2.19189 76.444 2.63025 75.7996 3.61655L65.5659 19.7426H67.8242C68.777 19.7426 70.0053 19.4631 70.6442 18.4385L78.135 6.63573L80.1343 12.5481H78.7629C76.9728 12.5481 76.2127 13.1289 75.5462 14.2248L74.3841 16.0604H81.3461" fill="#00458D"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1035_14136">
                        <rect width="106.154" height="20" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
            <div class="addressGroup">
                <div class="alignL">
                    <div class="adressBox">
                        <div class="adressLine"><span>(12900) 경기도 하남시 미사대로 505 (신장동)</span><span><b>02-2067-5000</b> (유료)</span><span><b>080-008-5000</b> (무료)</span></div>
                        <div class="adressLine"><span class="mr5"><b>경정경주결과 ARS 031-790-8000</b></span><span>(유료, 수~목 09시~18시/ 금~일 10시~19시, 이외시간 ARS 자동연결)</span></div>
                    </div>
                </div>
                <div class="alignR">
                    <!--20241204 삭제-->
                    <!-- <div class="other">
                        <a href="#">고객센터</a>
                        <a href="#">총괄본부</a>
                    </div> -->
                    <!--//20241204 삭제-->
                    <ul class="sns">
                        <li class="inst"><a href="#" target="_blank">instagram</a></li>
                        <li class="utube"><a href="#" target="_blank">youtube</a></li>
                        <li class="sx"><a href="#" target="_blank">x</a></li>
                        <li class="fb"><a href="#" target="_blank">facebook</a></li>
                        <li class="blog"><a href="#" target="_blank">blog</a></li>
                    </ul>
                    <!--20241204 추가-->
                    <ul class="ciGroup">
                        <li class="ci">
                            <img src="../../images/common/ci_footer_spo1.png" alt="SPO1 스포원">
                        </li>
                        <li class="ci">
                            <img src="../../images/common/ci_footer_reports.png" alt="창원레포츠파크">
                        </li>
                        <li class="ci">
                            <img src="../../images/common/ci_footer_supervisory.png" alt="사행산업통합감독위원회 불법사행산업감시신고센터">
                        </li>
                    </ul>
                    <!--//20241204 추가-->
                </div>
            </div>
            <ul class="menuGroup">
                <li class="item"><a href="#">개인정보처리방침</a></li>
                <li class="item"><a href="#">이용약관</a></li>
                <li class="item"><a href="#">자료무단복제금지</a></li>
                <li class="item"><a href="#">경륜경정 승자투표약관</a></li>
                <li class="item"><a href="#">그린카드(전자카드) 서비스 이용약관</a></li>
                <li class="item"><a href="#">저작권 정책</a></li>
                <li class="item"><a href="#">건전 베팅가이드</a></li>
                <li class="item"><a href="#">오시는 길</a></li> <!--20241204 추가-->
            </ul>
            <div class="copyGroup">
                <span class="copy">© 2024 KBOAT. All rights reserved.</span>
            </div>
        </div>
    </div>
</div>